[2019-08-17 07:11] camerons opened #5 "I can accept my own pull request without signing a DCO - testing ProBot"
I've managed to accept a pull request for a commit which I didn't sign with a DCO.
Theoretically, that shouldn't be allowed.
Maybe I have super-admin access?

![Screen Shot 2019-08-17 at 4 55 55 pm](https://user-images.githubusercontent.com/1243535/63207930-8ca8fa80-c111-11e9-87eb-b6476af3d4c9.png)

[2019-08-17 20:57] camerons commented on #5
To be clear, this is in relation to the testing of https://probot.github.io

[2019-10-04 06:26] #5 closed

[2019-10-18 00:03] flicstar opened #14 "Update licenses and DCO for doc projects"
Update licenses and DCO for doc projects to reference “copyrightable material” instead of “software”.

[2019-10-18 00:06] flicstar opened #15 "Write a good Readme for templates repo"

[2019-10-18 00:08] flicstar opened #16 "Remove the DCO approval check from the templates repo"

[2019-10-19 04:01] jaredmorgs commented on #15
There may be some work already done on this now my adoc files are merged in. Take a look at the README.adoc in the templates repo and see what you reckon.

[2019-10-19 06:26] camerons commented on #14
Draft Open Leter here: https://docs.google.com/document/d/18tHQjjmtj3FPvkHW_FzeC5uUmgCaqnvTbHkT7_eKjro/edit

[2019-10-19 08:40] jaredmorgs commented on #15
@flicstar @archaeogeek @camerons Not sure how we want to do reviews on the content but the readme at the Template root has all the guidance on how to use the four types of templates proposed by me.

[2019-10-19 19:12] camerons opened #17 "Convert templates from asciidoc to markdown"
We have previously decided that we would use Markdown as our format [1]. The initial upload of templates from Jared are in asciidoc.

We should change these templates to Markdown, or revisit our original decision.

[1] https://lists.osgeo.org/pipermail/seasonofdocs/2019-July/000421.html

[2019-10-19 19:33] camerons commented on #14
I've asked Erin to reach out to Google legal (Max S) for advise on draft letter.

[2019-10-20 00:22] jaredmorgs commented on #17
The argument for Asciidoc:

I know we are going to run into a problem that can't be solved by Markdown
without in-line HTML.
I've experienced it before.

There are many things that are not possible with my proposed template
structure in Markdown:

- replaceable variables
- complex tables that aren't HTML
- includes (embedding asciidoc content in other asciidoc content)
- videos natively embedded w

[2019-11-02 23:58] camerons commented on #16
Note, the following text is relevant until this DCO check is turned off:

## DCO Licensing signoff

The sign-off is required in order for your pull request to succeed.

To sign your commit, head to your local branch and run:

[code]

[2019-11-03 02:13] jaredmorgs opened #20 "Use README.md at the project root to define concepts, tasks, and references (content types)"
Based on the discussion between @cwcromwell and @jaredmorgs in the Templates Slack channel, we need to start with the basics and describe just enough about Concepts, Tasks, and References.

By doing this we can then relate each template type back to these core content types.

**Task**

- Create a single article to live in the /templates README.md
- Describe what a "Concept" is.
- Describe what a "

[2019-11-03 02:27] jaredmorgs opened #21 "Set up the template repository structure"
Based on the discussion between @cwcromwell and @jaredmorgs in the Templates Slack channel, the following structure was decided upon to make use of both templates.

**Task**

- Implement the following starting point structure
- If templates are already provided by Clarence or Jared, move them into this directory structure.
- If no templates are created yet for the file types, create a bug to track

[2019-11-03 03:47] camerons commented on #21
I've moved existing files to fit this structure (now in master). There are still files to create and content to move around within the files.

[2019-11-03 04:02] jaredmorgs opened #23 "Re-frame AsciiDoc README."
Currently, https://github.com/thegooddocsproject/templates/blob/master/README.adoc has a mixture of useful content.

But it doesn't fit into the current structure that we need the templates directory guidance to have.

And it's not in Markdown format which we've decided is the correct choice for all guidance information for the project.

Suggest the following specific changes:

Convert the content

[2019-11-03 06:06] jaredmorgs commented on #20
https://github.com/thegooddocsproject/templates/pull/25 needs to be merged before this change can be incorporated.

[2019-11-03 06:22] jaredmorgs commented on #17
Based on a great discussion in Slack, we are not going to restrict the type of templates contributed to the Good Docs Project.

But we are going to restrict how we write the Guidelines by keeping them to Markdown and keeping  them generic so they can be applied to different templates contributed to each documentation type directory.

If a template offers advanced functionality based on its mark-up

[2019-11-03 06:22] #17 closed

[2019-11-03 10:21] camerons opened #27 "Suggest rename api-overview to overview/ in templates/"
We have created api specific template directories in the templates/ directory:
api-overview/
api-quickstart/
api-reference/

I think we should be making these generic and not tieing ourselves to docs about APIs. Ie, rename templates to. At a later stage, we might decide we need a specific API instance, but I think we should start generic.
overview/
quickstart/
reference/

[2019-11-03 10:48] jaredmorgs commented on #27
The problem is that we can't. At least with the proposed templates as they are.

@cwcromwell would need to rework the templates to make them generic.

I agree that the guidance provided in them is excellent and would be a great universal guide if the focus on APIs could be removed.

I would actually fork each of these directories into the suggested ones, then sanitise them (make them applicable to

[2019-11-03 11:12] jaredmorgs commented on #15
I'm going to close this issue off now because the work we're going to do in #20 will supersede this.

I've pulled out all my content from the README.adoc referenced in this issue and have moved it into the related template files.

[2019-11-03 11:12] #15 closed

[2019-11-03 11:26] jaredmorgs commented on #23
All changes merged from the Pull Request. This now gives us a baseline and syncs up the work that @cwcromwell has done in his branch.

[2019-11-03 11:26] #23 closed

[2019-11-03 11:27] jaredmorgs commented on #21
I have created the files and moved the content around in the #23 commit.

[2019-11-03 11:27] #21 closed

[2019-11-16 19:43] camerons commented on #27
I'm closing out this task. We haven't addressed it for 0.1 release, and I expect it to be captured in the total overview for future releases.

[2019-11-16 19:43] #27 closed

[2019-11-28 09:41] jaredmorgs opened #32 "Is the audience type for about-template guidance too narrow?"
Louise Brooks12:45 14 Nov
SELECTED TEXT:

is it really safe to suggest only 2 types of people might assess the product? This whole sentence might be better something like:

There are other potential users who will assess your product to decide if it accomplishes their needs (or something like that) -

[2019-11-28 10:25] jaredmorgs opened #33 "Opening pitch in about API templates suggested refinement."
Louise Brooks 12:37 14 Nov
SELECTED TEXT:
This document tells potential users or buyers of the product the things they might want to know before adoption.

REWORD: This overview tells potential users or buyers things they might want to know before committing to anything.

Jared Morgan
...before deciding whether to use your API.

[2019-11-28 10:27] jaredmorgs opened #34 "About API Templates suggested textual Improvement"
Louise Brooks 12:34 14 Nov

Jared Morgan
"Every API documentation set..." maybe?

[2019-11-28 10:31] jaredmorgs opened #35 "Use sentence case in all titles?"
Feedback suggests we should adopt sentence case in all our titles.

What is our style decision across all templates and the project itself?

[2019-11-29 22:20] jaredmorgs opened #36 "Define what each template type is in a template family (API)"
Gloria Ma 12:35 14 Nov
SELECTED TEXT:
Setup information.
Following up on my comment int he README, it would be helpful to define what each template type is upfront. Otherwise, for example, quickstart vs. setup is non-intuitive and we have to click in to see.

[2019-11-29 22:22] jaredmorgs opened #37 "Should we generalise the descriptions in the quickstart for other types?"
Michelle Mortimer 12:41 14 Nov

SELECTED TEXT:

It feels like these are mainly for API and developer docs. If it's intended to be applicable to other types of documentation, perhaps make these descriptions more generic?

[2019-11-29 22:25] jaredmorgs opened #38 "Remove extraneous info in the Main body guidelines."
Hannah McKenzie 13:19 14 Nov

https://github.com/thegooddocsproject/templates/blob/master/api-quickstart/about-quickstart.md

SELECTED TEXT:

Suggest shortening sentence: Exclude extraneous information.

Louise Brooks13:43 14 Nov
SELECTED TEXT:

It should explain ...

Louise Brooks13:41 14 Nov
SELECTED TEXT:

separate bullet point

[2019-11-29 22:36] jaredmorgs opened #39 ""Discussions" as a template type is an overloaded name."
Gloria Ma 12:41 14 Nov
SELECTED TEXT:

I somehow find this word to be confusing here - I think of a discussion like a "forum", as if this template is intended to facilitate a discussion. Whereas based on this description, I think it's really a "background" or "context" article - could those be more intuitive words?

[2019-11-29 22:39] jaredmorgs opened #40 "Define terms "understanding-oriented", "procedural", and "learning" in context of the template"
Gloria Ma 12:38 14 Nov

https://docs.google.com/document/d/1-Uhy1ZDf-IbkNwtnMnpV6jSK6rISIXR9yjvXfMk0hyQ/edit

SELECTED TEXT:

Would probably be good to define these terms somewhere. Maybe use more consistent language in the framework of concept/task/reference, as defined in the README.

For example, I don't know the difference between "understanding" and "learning".

[2019-11-29 22:43] jaredmorgs opened #41 "Should we put all the template help text in "about" docs into the templates?"
Gloria Ma
12:43 14 Nov
Again, I think it would be much much easier to use these templates if the guidelines you've placed in "about-discussion" are directly inside this template.

**Pros**

Potentially better user experience because users wouldn't need to flick between about and template files in their IDE.

**Cons**

Maintenance overhead. If we get multiple examples of template types, we will nee

[2019-11-29 22:47] jaredmorgs opened #42 "Discussion template needs extra heading below Glossary"
Gloria Ma
12:44 14 Nov
Should have another top-level header here? Otherwise, this just looks like part of the Glossary.

**Suggestion**

About <subject>
For example, "About kubernetes containers"

[2019-11-29 22:49] jaredmorgs opened #43 "Remove comment about confluence in the discussion template"
Delete this:

[2019-11-30 04:59] camerons commented on #41
Felicity Brand
13:52 14 Nov
Doc: template-reference
Comment on: "For help with writing and structuring a reference article, see the README.adoc in the template directory for basic guidelines and links."
Felicity comment: I'm not convinced the folk will want to go elsewhere to get the good stuff. I think we need to embed it here.

[2019-11-30 05:05] camerons opened #44 "Reword "DRY""
Anonymous
14:22 14 Nov
Doc: about-reference
Re text: Employ DRY (Don't Repeat Yourself) methods when writing reference documentation.
It's enough to just say "Don't repeat yourself"

[2019-11-30 05:17] camerons opened #45 "Reword "pathing""
Louise Brooks
14:13 14 Nov
Re: Change the pathing if this is not the case.
Comment: is that [pathing] a 'thing' would 'path' be better?

[2019-11-30 19:17] camerons opened #46 "Rewording "A logging article is ..""
Louise Brooks
13:51 14 Nov
Re: Logging articles are a special type of template that is ...
Suggested reword to: A logging article is a special...

[2019-11-30 19:29] camerons opened #47 "Capitalization of things"
What is our position on Capitalization of "things"? We have the following specific comment, but it is applicable generally.

Louise Brooks
13:52 14 Nov
template: about-logging
Re: This article type aligns itself closely with the **Reference** content type
Comment: doesn't need a capital

We should probably be referencing the Google Style Guide (which we have picked as our default guide) to help an

[2019-11-30 19:37] camerons opened #48 "Reword passive text "These parameters should ...""
Louise Brooks
13:54 14 Nov
Template: about-logging
Re: These parameters should be defined in higher-level reference documentation for your project.
Comment: passive wording - reword: Define these paramaters in higher-level ref...

[2019-11-30 19:42] camerons opened #49 "Reword: If you get called late at night .."
Louise Brooks
13:57 14 Nov
Template: about-logging

Re: If you get called late at night and you're trying to debug a problem, not knowing how to interpret a logfile because there is no example of what to expect is extremely frustrating.

Suggested reword: It can be extremely frustrating to get a call late at night when you're trying to debug a problem, if you don't provide an example of how to int

[2019-11-30 19:46] camerons opened #50 "Reword: If you have the concept ..."
Louise Brooks
14:12 14 Nov
Template: about-logging

Re: If you have the concept of mandatory and app-specific log properties,
Suggestion: not sure it makes sense to have this part of the sentence, I would delete it.

[2019-11-30 19:56] camerons opened #51 "Difficult to understand paragraph ..."
Felicity Brand
13:45 14 Nov
Wow! I find this really hard to read. Is it just me?

Tamanna Sethi
13:51 14 Nov
Yes, I am confused, why are we re-using the content in Overview?

doc: template-howto

Re:
// Article variables (delete the `// comments` and add in the values)
:description: #Summarise what this how-to article is about in a sentence or two. What you put here is reused in the Overview secti

[2019-11-30 20:07] camerons opened #52 "Suggestion: Add links to the parent concept if applicable"
Tamanna Sethi
13:49 14 Nov
Doc: template-howto

Suggestion: Add links to the parent concept if applicable. For example, it is a 'How-to' about using a toaster, then conceptually there must be an 'About Article' that it can be linked to.

Suggested put under heading: "Overview"

[2019-11-30 20:16] camerons opened #53 "Delete: “reused in the Overview section and”"
Re: #Summarise what this how-to article is about in a sentence or two. What you put here is reused in the Overview section and included in HTML description tags.#

Felicity Brand
13:46 14 Nov
Delete: “reused in the Overview section and”

Felicity Brand
13:46 14 Nov
This is the Overview section, how can it be re-used here? Perhaps a copy/paste error?

[2019-11-30 20:49] camerons opened #54 "Before you start - capture important info other than pre-req"
Doc: template-howto

Re: Before you start
// Delete this section if your readers can dive straight into the lesson without requiring any pre-requisite knowledge.

Deepti Korwar
18:36 15 Nov
Use this section to capture important info other than pre-req too. For example, if this guide is on on how to add addresses, and if adding the 4th address deletes the 1st address, capture as note here.

[2019-11-30 20:57] camerons opened #55 "kebab case vs camel case vs"
We are using the term "how-to" and "howto" in how-to/template-howto.
We should make a decision about best practice for this across the project.
We should also consider other terms, like "thegooddocsproject" vs "TheGoodDocsProject" or "The Good Docs Project", or "quickstart" vs "quick-start".

[2019-11-30 21:04] camerons opened #56 "Break down prereqs"
Document: template howto

Re: Make sure you meet the following pre-requisites before starting the how-to steps:

Paul Foxworthy
14:14 14 Nov
Break down prereqs into: you should know, you should have, you should have done

[2019-11-30 21:08] camerons commented on #56
Hi Paul, I like your suggestion.
The challenge will be to work out how to get the balance right between being concise, covering the simple use case, but also capturing the if/then/else logic.

[2019-11-30 21:30] camerons opened #57 "Using tables in step-by-step guide"
Doc: template-howto
Section: Step-by-step guide

Anonymous
13:38 14 Nov
I would include both the tabular format and the ordered list format here, rather than defaulting to the longer form tabular format
Many tasks don't require a screenshot for every single step, but the whole procedure could be enhanced by one or two key screens.
Felicity Brand
13:51 14 Nov
Cool idea

Tamanna Sethi
13:46 14 Nov
I

[2019-11-30 21:38] camerons opened #58 "Describe the result of step(s) in howto"
Document: template-howto
Section: Step-by-step guide

Tamanna Sethi
13:46 14 Nov
Add a conclusion to the steps. For example what happens after the user is done following the steps a…
Paul Foxworthy
14:16 14 Nov
Yes. I suggest always summarise and confirm the goal that has been achieved.

[2019-11-30 21:45] camerons opened #59 "Add SeeAlso"
Doc: template-howto
Deepti Korwar
18:37 15 Nov
[Add] A new section called Related resources to capture related how-to guides or articles?

Paul Foxworthy
14:16 14 Nov
... In addition, "Next Steps", "See Also" might be useful

[2019-11-30 22:00] camerons opened #60 "Add question mark"
Document: about-overview
Re: Is it intended for a particular industry.

Alex Schwarz
13:57 14 Nov
Add ?

[2019-11-30 22:15] camerons commented on #43
There is reference to confluence in template-discussion and template-tutorial. It should be removed in both places:

Paul Foxworthy
14:42 14 Nov
Technology specific, maybe should be more general :)

[2019-11-30 22:26] camerons commented on #59
Doc:template-tutorial
Tamanna Sethi
14:42 14 Nov
Consider Adding references to How to article template.

[2019-11-30 22:31] camerons opened #61 "Explain differences between tutorial and howto"
Tamanna Sethi
14:42 14 Nov
... At a glance, How-to and Tutorial templates look similar. It will be better if we explain their use cases better.

Cameron: [And we probably should include a reference to these differences from within the templates themselves]

[2019-11-30 22:34] camerons opened #62 "Tutorials as docs to be stitched together"
Tamanna Sethi
14:42 14 Nov
... May be describe a tutorial template as a set of different types of documentation that can be stitched together to achieve a broader learning objective. ...

Cameron: I'm hoping Tamanna can expand on this statement.

[2019-11-30 22:40] camerons opened #63 "Add time/effort indication to templates"
from: template-tutorial
Deepti Korwar
18:47 15 Nov
Consider adding the approximate time the user might take to complete this activity.

[2019-11-30 22:46] camerons commented on #63
This is a topic which I think needs some deep thinking and development of a collective position.
I've heard two sides to sides to the mention of "indication of time".
Pro:
* Adding "reading time" or "time to complete an exercise" gives the reader the opportunity of gauging beforehand how much time to set aside or whether it is worth investing the time in the activity.
Con:
* Time-to-complete can v

[2019-12-01 01:43] camerons opened #64 "Reword - writing guidelines for writing"
Document: https://github.com/thegooddocsproject/templates/blob/master/writing-tips.md
Re:

Hannah McKenzie
13:31 14 Nov
suggest removing this 'writing'

Re:

Hannah McKenzie
13:32 14 Nov
for writing documentation (?)

[2019-12-01 01:59] camerons opened #65 "Align writing tips with readability guidelines"
Re: https://github.com/thegooddocsproject/templates/blob/master/writing-tips.md

Michelle Mortimer
14:24 14 Nov
It would be great to sync up in some way with Sarah Richards' readability guidelines project. Can we strive towards one source of truth for readability, style, formatting, accessibility etc? I can see these 'universal' doc templates as a powerful part of that https://contentdesign.london

[2019-12-01 02:04] camerons commented on #65
Josh Sherwood
14:17 14 Nov
I love the idea of this page as a 'If you don't read anything else, read this!' page – I think it could be even further simplified to include only the general principles for writing that could then be delved into deeper if the reader a) has time and b) can be bothered.

[2019-12-01 02:22] camerons commented on #65
Erin McKean
13:40 14 Nov
suggestion from Ross [Johnson?]: add section about figuring out who your audience is first. [before Language and Tone]

[2019-12-01 02:31] camerons opened #66 "Term "linter" not understood"
Document: https://github.com/thegooddocsproject/templates/blob/master/writing-tips.md

Re:

Felicity Brand
13:34 14 Nov
First time I've ever come across this word. Might not translate well?

Josh Sherwood
13:36 14 Nov
Agreed ++

Louise Brooks
13:41 14 Nov
linter? what's that?!

Josh Sherwood
13:30 14 Nov
Include links to these tools?

[2019-12-01 02:38] camerons opened #67 "Avoid acronyms"
Doc: https://github.com/thegooddocsproject/templates/blob/master/writing-tips.md

Re:

Hannah McKenzie
13:36 14 Nov
Perhaps worth mentioning to avoid acronyms too?

[2019-12-01 02:59] camerons opened #68 "Studies re procedural steps"
Doc: https://github.com/thegooddocsproject/templates/blob/master/writing-tips.md

Re: Writing procedural steps

Felicity Brand
13:35 14 Nov
"Studies have shown you can use statistics to prove anything". Yeah, we need to reference some facts here.

Josh Sherwood
13:35 14 Nov
Which usability studies? Provide the evidence that backs up these claims

Michelle Mortimer
14:17 14 Nov
I'd probably remove

[2019-12-01 03:14] camerons opened #69 "Replace the word "skeleton""
Josh Sherwood
13:40 14 Nov
consider: framework, basic structure, outline

[2019-12-01 03:19] camerons opened #70 "Find alternative to "information progression""
Document: https://github.com/thegooddocsproject/templates/blob/master/writing-tips.md
Re:

Alex Schwarz
13:50 14 Nov
Some assumed knowledge here - would someone unused to writing know why this matters?

[2019-12-01 03:23] camerons opened #71 "Typo - adds"
Doc: https://github.com/thegooddocsproject/templates/blob/master/writing-tips.md

Re:

Hannah McKenzie
13:38 14 Nov
Replace "add" with "adds"

[2019-12-01 03:26] camerons opened #72 "Should you mirror the directory structure of the application"
Re:  https://github.com/thegooddocsproject/templates/blob/master/writing-tips.md

Felicity Brand
13:37 14 Nov
Ooh, controversial! Not always a great idea. Depends on the software that you're documenting.

[2019-12-01 21:12] camerons opened #73 "Should we reference DITA"
Doc: https://github.com/thegooddocsproject/templates/blob/master/README.md

Re:

Daniel Fowler
13:41 14 Nov
Not even every documentation writer is familiar with DITA.

[2019-12-01 21:20] camerons opened #74 "Using term/definition"
Doc: https://github.com/thegooddocsproject/templates/blob/master/README.md

Should we be making use of **term**: definition?  (ie <dt> <dd> format in HTML)
Re:

Louise Brooks
13:26 14 Nov
maybe make these bullet points?

[2019-12-01 21:23] camerons opened #75 "Reword - to understand"
Doc: https://github.com/thegooddocsproject/templates/blob/master/README.md

Louise Brooks
13:27 14 Nov
"to understand" instead of "with understanding"

[2019-12-02 07:18] camerons commented on #73
Re the word "Task":
Gloria Ma
13:26 14 Nov
"Procedure" might be a clearer word?

Cameron: I'd suggest we should have a good reason to switch from "task" to "procedure", as "task" is already an established term within the DITA context. Does anyone want to explain why "task" is a more difficult word to understand?

[2019-12-02 07:25] camerons opened #76 "Wording - hot and ready to eat"
Doc: https://github.com/thegooddocsproject/templates/blob/master/README.md

Re: hot and ready to eat

Felicity Brand
13:32 14 Nov
yeah nah. :thumbsdown:
Alex Schwarz
13:44 14 Nov
+1

[2019-12-02 07:37] camerons opened #77 "Better explain template and documentation types"
Doc: https://github.com/thegooddocsproject/templates/blob/master/README.md
Re:

Kevin Wongso
14:16 14 Nov
a concept help here will be helpful. At-a-glance people trying to write these for the first time will e.g. not know the difference between tutorial & how-to, or how each template type is meant to be used / their place in the whole doc ecosystem as a whole.

Gloria Ma
13:27 14 Nov
It'd be helpf

[2019-12-02 07:48] camerons opened #78 "The cookbook analogy"
Document: https://github.com/thegooddocsproject/templates/blob/master/README.md

Felicity Brand
13:30 14 Nov
This analogy doesn't resonate with me. I think what I struggle with is the level of granularity. Is API reference a recipe for a condiment (a part of a meal) or for an entire meal? An API guide is a meal, but is a meal one course or the full degustation?

Louise Brooks
13:31 14 Nov
confused

[2019-12-03 19:03] camerons opened #79 "What are "Idea Jolters" being used for?"
Doc: Idea Jolters
https://docs.google.com/document/d/177YrqXs6DzGFeOpey1eGmSMJZ3pWHOpZPil2yIU_x7c/edit#heading=h.e2bcb4siqzkb

Cameron: Good point. Idea Jolters were initially to start conversation within a FixIt session at WriteTheDocs conference. There were not intended as a stand alone document in itself. However, I expect we will want to run this fixit session again, so I see value in moving t

[2019-12-03 19:08] camerons opened #80 "Idea Jolters coming from a negative perspective"
Doc: Idea Jolters
https://docs.google.com/document/d/177YrqXs6DzGFeOpey1eGmSMJZ3pWHOpZPil2yIU_x7c/edit#heading=h.e2bcb4siqzkb

Josh Sherwood
13:50 14 Nov
A few of these are coming from a negative perspective. Content for the sake of content isn't always valuable. Can we angle them from the user perspective? Is our content meeting the needs of our users? In what situation would our content be used?

[2019-12-03 19:12] camerons opened #81 "Impractical to do API References by hand"
Doc: Idea Jolters
https://docs.google.com/document/d/177YrqXs6DzGFeOpey1eGmSMJZ3pWHOpZPil2yIU_x7c/edit#heading=h.e2bcb4siqzkb

Daniel Fowler
14:31 14 Nov
Some of these things (e.g. API References) are impractical to do by hand. This would be good to know/communicate.

[2019-12-03 19:17] camerons opened #82 "Flip doesn't to does in statement"
Doc: Idea Jolters
https://docs.google.com/document/d/177YrqXs6DzGFeOpey1eGmSMJZ3pWHOpZPil2yIU_x7c/edit#heading=h.e2bcb4siqzkb

Hannah McKenzie
13:47 14 Nov
This seems confusing. Suggestion:
"How does this apply to your situation? What other situations could it apply to?"

[2019-12-03 19:22] camerons opened #83 "Define audience personas"
Doc: Idea Jolters
https://docs.google.com/document/d/177YrqXs6DzGFeOpey1eGmSMJZ3pWHOpZPil2yIU_x7c/edit#heading=h.e2bcb4siqzkb

Paul Foxworthy
14:21 14 Nov
... audience ... ? The reader may not be a developer.

Cameron: Good point. I'd like to extend to suggest that our docs should probably define audience personas.

[2019-12-05 15:11] cwcromwell commented on #63
We can't estimate the time to complete any of these, because it depends on several variables that we can't control:

*The complexity of the task documented
* The length of the document being created. (How many steps are in the tutorial?)
* The skill of the writer creating the tutorial.

The time required to document two different tasks -- using the same template -- might be minutes (how to sign up

[2019-12-05 15:13] cwcromwell commented on #62
A tutorial is probably a recipe, as opposed to a template. It can combine several templates, either multiple how-tos or concepts and how-tos to help you achieve a goal.

[2019-12-05 18:34] camerons commented on #63
@cwcromwell The recommendation (as I interpret it), is that the end document writer should estimate the time taken to execute the quickstart or tutorial.

Us writers of the templates should provide end document writers guidance on how to come up with that estimate.
We probably should also suggest how long a quickstart/tutorial should take. (If it is too long, then suggest breaking into multiple tu

[2019-12-08 06:53] camerons opened #84 "Change wording: anything => concepts"
Paul Foxworthy
13:56 14 Nov
... teach them concepts ...? [instead of "anything"]

[2019-12-08 07:18] camerons commented on #47
Doc: https://github.com/thegooddocsproject/templates/blob/master/how-to/about-howto.md

Louise Brooks
14:17 14 Nov
how-to (no capital)

[2019-12-08 07:22] camerons opened #85 "lead paragraph about-howto"
Doc: https://github.com/thegooddocsproject/templates/blob/master/how-to/about-howto.md

Anonymous
13:51 14 Nov
I would lead with this paragraph, it's a nice, strong explanation of a how-to

[2019-12-08 07:25] camerons opened #86 "Rewording - often confused"
doc: https://github.com/thegooddocsproject/templates/blob/master/how-to/about-howto.md

Louise Brooks
14:17 14 Nov
are often confused

[2019-12-08 07:28] camerons opened #87 "Audience for howtos"
doc: https://github.com/thegooddocsproject/templates/blob/master/how-to/about-howto.md

Anonymous
13:55 14 Nov
Is this a common experience? I would expect it to be very common for the first interaction with your doc would be trying to complete a specific task.
I guess it depends on whether the audience is the person who is evaluating / deciding to use a tool vs someone who has to use it, and this

[2019-12-08 07:31] camerons opened #88 "add question mark"
doc https://github.com/thegooddocsproject/templates/blob/master/how-to/about-howto.md

Paul Foxworthy
14:11 14 Nov
Replace: “.” with “?”

[2019-12-08 07:33] camerons opened #89 "half-way to halfway"
doc: https://github.com/thegooddocsproject/templates/blob/master/how-to/about-howto.md

Louise Brooks
14:20 14 Nov
halfway doesn't need the hyphen

[2019-12-08 21:51] camerons opened #90 "Update "Before you Start""
doc: https://github.com/thegooddocsproject/templates/blob/master/how-to/about-howto.md

Felicity Brand
13:39 14 Nov
Pre-reqs aren't always about going to read something else. Sometimes they are just about dependencies like "you need an internet connection".

Felicity Brand
13:40 14 Nov
And give them useful pointers about how to get whatever they need. Link to procedures or info.

Louise Brooks
14:

[2019-12-09 18:53] camerons opened #92 "Unclear "step by step guide""
Re: https://github.com/thegooddocsproject/templates/blob/master/how-to/about-howto.md

Louise Brooks
14:29 14 Nov
wordy - not sure if this is suggesting that you should use screenshots or that you shouldn't!

so either replace with :
Use a screenshot for each step in a process.

or:
Try to avoid using screenshots for each step in a process because it can make it more difficult to read

I don't und

[2019-12-09 19:15] camerons opened #93 "Feedback on Idea Jolters"
Re: https://docs.google.com/document/d/177YrqXs6DzGFeOpey1eGmSMJZ3pWHOpZPil2yIU_x7c/edit#

Hannah McKenzie
13:50 14 Nov
Common examples of doc-writing negativity:

let's start with "DO NOT BE AFRAID" we're here to help! (from Ruth)

Hannah McKenzie
13:50 14 Nov
writing isn't
(slightly easier to read)

Hannah McKenzie
13:51 14 Nov
suggest combining points 1 and 3

Tips could include asking a more c

[2019-12-09 21:08] camerons opened #94 "template for templates"
From one of our recent team meetings, it was suggested that we should create a template for our templates.
What instructions should we capture in our templates?
How detailed should instructions be?
We probably should define personas.
Etc.

[2019-12-09 21:17] jaredmorgs commented on #94
I don't understand what this issue means based on the description.

What is a template of templates?

On Tue., 10 Dec. 2019, 07:08 Cameron Shorter, <notifications@github.com>
wrote:

[2019-12-10 03:43] camerons commented on #94
Yes, my description was quite cryptic. Sorry.
I'm proposing we distil the common structure, themes, guidance topics which should be included in each documentation template we write.
I propose that we copy these core elements into a "master template" from which are other documentation templates are derived.

[2019-12-12 21:00] flicstar opened #95 "How do we approve PRs?"
From the 12 December meeting,  it became clear that we need to establish a process on approving our PRs. To get to version 0.1 we took an 'anything goes' approach. NOW we need a bit of rigor.

We are probably approaching the point of requiring approval from two reviewers to merge a PR.

It was acknowledged that people have different skillsets - some folks are good with details, and some are good h

[2019-12-13 20:11] camerons commented on #16
On 13/12/19 11:52 pm, Erin McKean wrote:

[2019-12-17 04:37] cwcromwell commented on #95
Do you want to require that everyone reads the PRs and at least two people approve them? Do we want to allow just anyone to suggest changes, or only those who are invited to contribute? How much do we benefit from constant suggestions to slightly reword things?

[2019-12-17 04:40] cwcromwell commented on #94
The Meta-Template

This is the outline for creating new templates.

It's mainly for the owner and potential contributors to this repo. But contact me by opening an issue before you attempt a pull request. (I'm creating these to contribute to other projects, so you might want to go directly to those projects and offer your contributions.)
Template summary

    Purpose of the document
    Who it is

[2019-12-17 04:52] cwcromwell commented on #36
Agreed.
The tables on the README page should show that information, but they aren't quite complete.

This also suggests that we should give some thought to the big picture, in terms of what families and what templates will be included. This project might not make sense if we just collect hundreds or thousands of templates from anyone who wants to submit one. Maybe it should include the least numbe

[2019-12-17 04:59] cwcromwell opened #96 "Let's have a copy edit"
If we want the text of these templates cleaned up, we should find someone who has the time to do a complete copy edit and is willing to use the style book we chose. I'm horrified at the idea of performing an edit by having people from all over the world submit thousands of issues about commas and question marks.
It creates more work to go through the tickets, and we'll just end up in a global war

[2019-12-17 22:37] flicstar opened #97 "Repo membership permissions"
On Thu, 7 Nov 2019 at 09:21, Felicity <felicitybrand@gmail.com> wrote:
We need to broadly agree how we want to structure permissions.

Without knowing anything about GitHub permissioning:

We've got our PSC - I imagine they should all be administrators.
We've got trusted project team members who need/want to contribute.
We're about to have a whole lot of public folk who may contribute.

We've got

[2020-01-17 09:00] Francesco-Lanciana commented on #35
After having a look across the templates it seems like we haven't been perfectly consistent on this so definitely good just to adopt a standard and stick with it.

Did a quick bit of research. [Google](https://developers.google.com/style/capitalization) also seems to advocate sentence case with exceptions for trademarks, keywords, and other terms that are always capitalised a certain way as it's c

[2020-01-17 09:26] Francesco-Lanciana commented on #20
@jaredmorgs can this be marked as closed?

[2020-01-17 10:25] Francesco-Lanciana opened #100 "Troubleshooting Section for Quickstarts"
What do people think of advocating for a troubleshooting section inside a quickstart if there are common problems that they are aware of?

An example of this is [GitHub Apps Quickstart Guides](https://developer.github.com/apps/quickstart-guides/). A counterexample is [Stripes API Quickstart](https://stripe.com/docs/development) where they seem to assume a certain level of competency with your lang

[2020-01-17 10:54] Francesco-Lanciana commented on #37
Is the intention here to have all quickstart guides start with the same section (i.e. What is a Quickstart)?
I have created a PR that attempts to address this, if you want to take a look @jaredmorgs

[2020-01-19 09:10] camerons commented on #32
I like the way you have introduced "For example, ..." to preface the types of personas, and kept the persona descriptions. (I think that these are the most common personas, and it helps understandability.)

[2020-02-01 07:57] BolajiAyodeji commented on #84
Hi @camerons,

I assume the document that needs this change is at https://github.com/thegooddocsproject/templates/blob/master/how-to/about-howto.md

Please let me know if I'm wrong, thanks.

[2020-02-02 02:50] #75 closed

[2020-02-02 02:59] camerons commented on #84
Yes @BolajiAyodeji , this issue refers to https://github.com/thegooddocsproject/templates/blob/master/how-to/about-howto.md .

Sorry for not mentioning it in the initial ticket.

[2020-02-02 11:00] BolajiAyodeji commented on #84
Thanks for confirming.

[2020-02-06 21:17] #20 closed

[2020-02-06 21:18] #84 closed

[2020-02-06 21:20] #88 closed

[2020-02-06 21:23] #37 closed

[2020-02-06 21:33] jaredmorgs commented on #73
-1 to changing task to procedure.

[2020-02-06 21:36] jaredmorgs commented on #35
We should stick to Sentence case consistently.

[2020-02-08 20:48] camerons commented on #35
I agree to using sentence case. I've raised a motion to confirm our team's support:
https://thegooddocsproject.groups.io/g/main/message/237
@Francesco-Lanciana , thanks for offering to fix this. Assuming there are no objections by 12 Feb 2020, then consider yourself having approval to fix this.

[2020-02-09 05:33] camerons commented on #94
I've captured and expanded on this in a larger "Documentation Strategy" piece, which, at time of writing, is just bulleted out to provide a skeleton for discussion.
https://docs.google.com/document/d/1sPaVeFQFEqUs0w0sbvvWz1yW3rZd7Lba2_hNheQG25Y/edit#heading=h.6ym3ww6wrlzo

[2020-02-09 11:11] camerons opened #105 "about how-to probably shouldn't suggest layout be in a table"
Re: https://github.com/thegooddocsproject/templates/blob/master/how-to/about-howto.md

Note: [Google's developer documentation style guide](https://developers.google.com/style/images) advice is:

I feel we shouldn't be recommending the use of tables to address image alignment. My reasons:
* Responsive web design principles suggest that we shouldn't assume the target screen size, and using tables l

[2020-02-15 23:15] #32 closed

[2020-02-15 23:15] #33 closed

[2020-02-15 23:15] #34 closed

[2020-02-22 20:42] camerons opened #106 "Align with schema.org terms"
Ellis Pratt has suggested aligning our document types with https://schema.org terms.

Schema.org maintain and promote schemas for structured data on the internet. In particular, they provide tags which we probably should be incorporating technical documentation. It was founded by Google, Microsoft, Yahoo and Yandex and using this apparently increases search indexes.

What do others think about inc

[2020-02-24 21:29] camerons commented on #60
Someone seems to have fixed this issue already.

[2020-02-24 21:29] #60 closed

[2020-02-28 19:58] camerons commented on #105
Jared confirmed he was ok with the suggestion on email.

[2020-02-29 01:35] naomis-github commented on #67
Should we also add that spelling should be consistent throughout the doc (e.g. words with hyphens should always be hyphenated every time it is used)?

[2020-03-01 11:07] #105 closed

[2020-03-02 23:00] camerons commented on #67
Yes @naomis-github, that is a good suggestion. We have decided to align ourselves with the the Google developer documentation style guide, https://developers.google.com/style .
Also, I'm aware that a number of our writers (myself included) sometimes use the free version of https://www.grammarly.com/.
One thing that would be valuable would be to determine whether grammarly aligns with the Google St

[2020-03-03 03:42] jaredmorgs commented on #67
I'm trying to find citations about what style guides Grammarly adopts but they appear to be pretty tight-lipped about it.

errara-ai offer a linter called Vale that lets you select from various style guides like Google, Microsoft but it is non trivial to set up.

[2020-03-03 03:48] jaredmorgs commented on #67
https://developers.google.com/style/abbreviations has how to deal with that covered

[2020-04-20 04:08] naomis-github commented on #67
I just had a look at grammarly; indeed, it doesn't look like they have an openly available writing guideline. They offer writing style settings (i.e. academic, business, technical, casual, creative) if that helps.

[2020-04-20 05:07] camerons commented on #67
An editor of one of my articles has recently pointed me to https://languagetool.org/ which is an open source equivalent to grammarly, sponsored by the European Union, which we could either decide to use as is, or configure to work with the style guide we choose (currently the Google Developers Style Guide).

[2020-04-20 11:05] bjnath commented on #44
The term DRY connects with developers. Partly it shows we speak their language, but also it is a much-discussed topic and rallying cry. We access a vein of culture and thinking if we use the name it's known by.

[2020-04-20 11:14] bjnath commented on #38
True, and there's more. People do a quick linear-inch sizing when they see a Quickstart. They lose faith if it looks more like a meal than an appetizer

[2020-04-20 11:25] bjnath commented on #67
Given the nascent state of automated Natural Language Understanding, I hesitate to put any program in a position of final authority. We can take its counsel, just as we take it from colleagues, but the ultimate decision belongs in human hands.

I'll go further and say it belongs in a single pair of human hands. We decide whose hands and record every decision for consistency going forward.

[2020-04-20 11:36] bjnath commented on #66
Perhaps we can link the word to [its Wikipedia article](https://en.wikipedia.org/wiki/Lint_(software)). That not only will gloss it, it will make the definition available in multiple languages.

I'd hesitate to drop it, because it connects with developer experience and the metaphor is witty. (And, unlike humor generally, it'll stay witty to those who need to look it up.)

[2020-04-20 11:39] bjnath commented on #67
To be clear, I'm all for using a style guide, particularly Google's since it's purpose-built. But inevitably issues fall through the cracks, and these should head straight to the hands of the Supreme Final Human Arbiter.

[2020-04-20 11:46] bjnath commented on #63
I'd propose the word "typically," which links to a section explaining what we mean.

People look at the size and contents of the template and get their own idea of what's involved. What we should be doing is alerting them to gotchas -- this is not as easy as it looks, because..., or this is easier than it looks, because...

[2020-04-20 11:50] bjnath commented on #56
I like the notion of a "Gotchas" heading. We wouldn't have to repeat what readers can deduce on their own.

[2020-04-20 12:01] bjnath commented on #55
Why is this issue not long closed? Please hear final arguments and bang the gavel.

[2020-04-20 12:26] bjnath commented on #106
As valuable as these pages are to information scientists, they're at best baffling to users looking to fill a hole in their documents.

Is the idea that they're invisibly incorporated as meta tags for SEO? And/or that they serve us internally as a checklist?

[2020-04-20 12:38] bjnath commented on #80
Our immediate base is people whose goal is documentation. The templates will sell themselves as one "aha!" moment after another.

Rallying sulkers should be way down the list. We can save souls outside the church once we've ministered to the souls inside.

[2020-04-20 12:46] bjnath commented on #73
Mere mention of DITA is going to make users think this job is harder than they thought.

Let's reap the benefits of the boffin stuff internally but mention it aloud only in a "Further reading" section.

[2020-04-20 21:40] jaredmorgs commented on #55
hyphenate the how-to is my call

[2020-04-20 21:51] jaredmorgs commented on #44
I originally wrote this template and the only improvement I could make on this issue is to use the full name "Don't Repeat Yourself (DRY)".

[2020-04-21 11:22] camerons commented on #55
@bjnath the reason no decision has been made is because we haven't had someone pushing through the research, ask for decision, implement. (Time constraint).

We have defined the Google Developer's guide as our reference. The word list doesn't reference howto or how-to: https://developers.google.com/style/word-list.
Hyphens are described here: https://developers.google.com/style/hyphens. My interpr

[2020-04-23 21:39] jaredmorgs commented on #66
I agree this is the correct approach. Particularly as we list two grammar linters directly below the offending line.

[2020-04-27 21:15] rimutaka opened #110 "Create basic ReadMe template"
ReadMe is the default document displayed on the homepage of the project and is often the only document for the repo. We should create several ReadMe templates for different project types starting with the most basic one.

Creating one from scratch is of limited value because it would have to be tested by large number of readers before we can say if it is a good or bad example. Let's re-use what's

[2020-04-28 23:55] rimutaka opened #111 "Define top metrics for documentation quality"
### What is a good doc?

There should be a few top metrics to measure the quality of the document.
Ideally, the metrics should be quantifiable and be based on some valid research.

**These sources may have useful info on the subject:**
* https://idratherbewriting.com/2012/03/02/technical-communication-metrics-what-should-you-track/
* https://www.scriptorium.com/2010/05/calculating-document-quality

[2020-05-12 06:34] BolajiAyodeji commented on #35
Hi @Francesco-Lanciana, are you still working on this or were there any objections?

[2020-05-12 10:37] #64 closed

[2020-05-12 11:16] BolajiAyodeji commented on #43
Hi @camerons, I tried looking for the reference to in template-discussion and template-tutorial but couldn't find it. Is it possible that this issue is fixed already? If not, can you provide links to the respective documents for more clarity?
Thank you.

[2020-05-12 11:32] #86 closed

[2020-05-12 12:16] jaredmorgs commented on #43
This was a hangover from the initial import and I corrected it myself I think.

[2020-05-12 12:17] #43 closed

[2020-05-12 14:08] #89 closed

[2020-05-12 16:41] shreyas1599 commented on #68
@camerons I'm trying to open a PR for this. Couple of thoughts:

A quick google search gave nothing credible. I suggest we remove it or make the change suggested by Michelle Mortimer.

There's already a point which says something similar:

Doesn't it seem redundant?

[2020-05-12 17:33] shreyas1599 commented on #70
@camerons Does this make it better?

[2020-05-12 17:59] shreyas1599 commented on #76
@camerons you could just remove `hot and ready to eat`?

Does this sound better?

[2020-05-12 18:00] shreyas1599 commented on #71
@camerons You can close this as per PR #115.

[2020-05-12 18:11] shreyas1599 commented on #53
@camerons I couldn't find this issue in [`template-howto.md`](https://github.com/thegooddocsproject/templates/blob/master/how-to/template-howto.md). Perhaps a non-linked PR must've fixed it?

[2020-05-12 21:39] camerons commented on #68
I agree that we shouldn't reference metrics if they don't exist, but my gut feeling is that metric sounds like a likely result of a study. If a credible study exists, it would be good to reference it and include this comment. @jaredmorgs might know more as I think he wrote the original text.

[2020-05-12 22:28] camerons commented on #68
Feedback from a tech writer I asked:

[2020-05-13 22:25] mgan59 commented on #76
I like short, simple, concise 👍

[2020-05-13 22:36] mgan59 commented on #72
Agreed, it depends on software.

If documenting software there are times when the docs should go inside of the folder where the code lives. There are IDE clients out there for python/juypiter notebooks that auto-generate markdown-docs.  In these cases there is little control over where the docs like from a developer perspective.  Especially if it is generating readmes all over the place.

Storyboo

[2020-05-13 23:10] mgan59 opened #122 "PR Template Initial"
# PR Template Initial

## Context

As discussed on the weekly-call 05/13/2020, the need for a pull-request template will help us expedite the reviewing process.  There are a few requirements and questions that come to mind.  We should view this work as a living doc, for now we start with a simple PR template.  We can also update it, and if needed we can add more [PR Templates](https://github.blog/

[2020-05-14 03:36] BolajiAyodeji commented on #92
Looks like this is fixed as I could not find the required phrase in the document. Is this issue still valid @camerons?

[2020-05-14 11:40] camerons commented on #76
@shreyas1599 Good suggestion, feel free to create a pull request with a fix.

[2020-05-14 11:57] jaredmorgs commented on #53
It must've been fixed as you say @shreyas1599

[2020-05-14 11:57] #53 closed

[2020-05-14 11:58] #71 closed

[2020-05-14 11:58] #69 closed

[2020-05-14 11:59] #45 closed

[2020-05-14 12:03] jaredmorgs commented on #70
You could also put this like this:

What do you think about that sort of idea @shreyas1599 and @camerons ?

[2020-05-14 12:08] #38 closed

[2020-05-14 12:11] #46 closed

[2020-05-14 12:11] #48 closed

[2020-05-14 12:12] #49 closed

[2020-05-14 12:12] #50 closed

[2020-05-14 13:07] shreyas1599 commented on #70
@jaredmorgs `about in the article` seems unnecessary. How about:

[2020-05-14 14:04] shreyas1599 commented on #42
@jaredmorgs Do you mean like dividing the glossary into subsections? So the result would look something like this?

_item1
item2_

_item1
item2_

[2020-05-14 14:09] shreyas1599 commented on #44
@jaredmorgs your suggestion seems to be better than removing `DRY`. Although, I still think it doesn't make much of a difference. I personally think we should leave it as it is. Anyway, if you give me the go-ahead, I'll open a PR implementing your suggestion.

[2020-05-14 14:34] emckean commented on #44
+1 to Jared's suggestion for keeping DRY to show developer-friendliness. (My preference is always to use the right term, even if it's jargon, AND explain it in context; that way you signal your expertise to those who know the term and educate those who do not. :) )

[2020-05-14 19:53] shreyas1599 commented on #66
@camerons I think this issue can be closed. Looks like #109 fixed it.

[2020-05-14 19:58] shreyas1599 commented on #57
@camerons I think this can be closed. #108 fixes it.

[2020-05-14 22:15] jaredmorgs commented on #57
Closing off

[2020-05-14 22:15] #57 closed

[2020-05-14 22:16] jaredmorgs commented on #66
Closing

[2020-05-14 22:16] #66 closed

[2020-05-15 04:07] jahnvigupta commented on #90
@camerons can i take this issue?

[2020-05-15 05:39] shreyas1599 commented on #67
@jaredmorgs I'm trying to open a PR for this. How does the following sound?

Or should I ignore the last two sentences?

And for the second part, changing this:

to:

[2020-05-15 05:42] shreyas1599 commented on #72
+1. I think we should just remove the line. @camerons Can I go ahead and do it?

[2020-05-15 05:50] shreyas1599 commented on #87
@camerons How does this sound?

[2020-05-16 11:02] jaredmorgs commented on #87
I like where you're going with this @shreyas1599

Building on your proposed text:

New users who want to solve a problem instantly can also benefit from how-to articles providing they are well-written and clearly state any prerequisite knowledge required to complete the how-to.

[2020-05-16 11:04] jaredmorgs commented on #72
Even though I wrote this original copy I agree that it isn't appropriate in our templates. This text was borrowed from work I did for another org so it was quite specific. ;)

[2020-05-16 11:12] jaredmorgs commented on #67
I don't think that using acronyms or initialisms is "bad," as this text is suggesting. It is more a case of "use with care."

I remember listening to an episode of Grammar Girl podcast that suggested that if you were going to use the acronym or initialism more than five times in a document, then you take the time to abbreviate it first then use it throughout the document.

So maybe something like

[2020-05-16 11:13] jaredmorgs commented on #67
I think this one is good (note the added oxford comma).

[2020-05-16 11:14] jaredmorgs commented on #90
Feel free to get me to review it @jahnvigupta

[2020-05-16 11:17] jaredmorgs commented on #44
Nominate me as a reviewer if you like @shreyas1599

[2020-05-16 11:23] jaredmorgs commented on #42
I also noticed this template has reference to Confluence in the comment at the top of the raw document source. Should remove that as well in the process of doing this ticket.

Sorry @shreyas1599 there isn't really a lot of context around this bug (my fault, because I created it from the google feedback docs).

Maybe roll this fix about the comment into some other work you (or someone else taking t

[2020-05-16 11:23] #76 closed

[2020-05-16 11:25] #55 closed

[2020-05-16 11:26] #85 closed

[2020-05-16 16:04] shreyas1599 commented on #100
@Francesco-Lanciana Even the Github Apps Quickstart Guides lists a set of [pre-requisites](https://developer.github.com/apps/quickstart-guides/setting-up-your-development-environment/#prerequisites) before reading the quickstart guide. I think adding a troubleshooting section makes the quickstart slightly more accessible to the beginner user? So, I personally agree with GitHub's approach and think

[2020-05-16 16:19] shreyas1599 commented on #47
@camerons per this:  https://developers.google.com/style/capitalization we'd also have to change the capitalization in headings of several files I think. For example, [about-logging](https://github.com/thegooddocsproject/templates/blob/master/logging/about-logging.md) and [about-tutorial](https://github.com/thegooddocsproject/templates/blob/master/tutorial/about-tutorial.md) don't follow the sente

[2020-05-16 16:31] shreyas1599 commented on #51
@jaredmorgs Looks like this has been fixed. I couldn't find the exactly referenced text in the issue. Looks like it has been modified. Am I missing something?

(Also, I hope you don't mind me repeatedly tagging you in issues)

[2020-05-17 00:01] jaredmorgs commented on #100
I'm -1 to having a troubleshooting section inside the Quickstart.

Prerequisites are something I would include, which, if followed, would _take the place of_ troubleshooting. The idea is that if you complete the prerequisites, there should be no need to troubleshoot.

Quickstarts for me are the one place in your docs (and the product) where you need to put in the extra effort, so the user's first

[2020-05-17 00:06] jaredmorgs commented on #51
If you can't find it in the source file there's a good chance the problem has been fixed by someone else directly.

No worries about tagging me in issues @shreyas1599 it gets my attention.

[2020-05-17 00:06] #51 closed

[2020-05-17 01:44] jaredmorgs commented on #47
Yep that "Reference" does not need to be capitalised as it is not a proper noun.

[2020-05-17 01:45] jaredmorgs commented on #47
Yes sentence case needs to be applied across all our template repos.

[2020-05-17 01:47] shreyas1599 commented on #47
@jaredmorgs thanks for confirming. Can I go ahead and do this?

[2020-05-17 05:02] camerons commented on #47
Thanks Shreyas for putting in the research and working this out. Yes, it
would be great to create a pull request including the justification you've
provided.
It is great to be bringing our documentation in line with the best
practices that we recommend. :)

On Sun, 17 May 2020 at 11:47, Shreyas Thirumalai <notifications@github.com>
wrote:

--
Cameron Shorter
Technology Writer at Google
Open Techno

[2020-05-17 05:32] danielklenda85 opened #126 "Yes their is an issue dam right their is an issue klendadaniel@gmail.com+klendadaniel@outlook.com"

[2020-05-17 05:35] camerons commented on #90
Thanks for the offer to help @jahnvigupta. You are welcome to create a pull request to fix any of the issues.

[2020-05-17 09:44] #126 closed

[2020-05-17 09:49] jaredmorgs commented on #47
I gave a 👍 in the github interface to indicate this can go ahead.

These don't show up in emails unfortunately.

I've also been assigning issues where there is interest in doing work on
them. It makes it easier to track if work stalls.

[2020-05-17 09:54] shreyas1599 commented on #47
@jaredmorgs yeah I noticed the 👍 only after @camerons commented. Assigning issues seems to be the way to go.

[2020-05-17 12:04] jahnvigupta commented on #90
@jaredmorgs I have opened a PR. Kindly, check https://github.com/thegooddocsproject/templates/pull/127

[2020-05-17 13:06] shreyas1599 commented on #100
@jaredmorgs Right. Makes more sense. I'm still learning about best practices and can say I've picked a few along the way reading through discussions in the issues and the repo in general. I was specifically addressing the issue of competency vs non-competency and hence suggested including it but your view takes care of that by putting the onus on the product creators. +1 to this viewpoint.

[2020-05-17 15:27] shreyas1599 opened #128 "Question marks in titles"
Going through Google's documentation style guide, I couldn't find a title that was a question. This repo has several titles that are worded as questions. Since titles are not recommended to end with periods - see [this](https://developers.google.com/style/periods#periods_with_headings), I was wondering about other forms of punctuation and noticed none of their titles is worded as questions.

What

[2020-05-17 17:22] shreyas1599 opened #130 "using a link as link text"
According to the [Google style guide](https://developers.google.com/style/link-text) we shouldn't use the link as link text. An example that violates this is [about-api-reference.md](https://github.com/thegooddocsproject/templates/blob/master/api-reference/about-api-reference.md).

[2020-05-18 07:19] jaredmorgs commented on #130
Yep this is correct. We had the same issue in a few documents where I work.
It is not good for accessibility.

On Mon, 18 May 2020, 03:22 Shreyas Thirumalai, <notifications@github.com>
wrote:

[2020-05-18 17:20] shreyas1599 opened #132 "Unclear sentence: This overview explains and engine ..."
See Overview Examples Section in [about-overview.md](https://github.com/thegooddocsproject/templates/blob/master/api-overview/about-overview.md).

Consider the sentence:

Is it supposed to be:

(or)

[2020-05-19 01:56] jaredmorgs commented on #132
the second example is the correct one.

[2020-05-19 22:59] emckean commented on #128
I don't mind question titles (as long as they don't follow [Betteridge's Law of Headlines](https://en.wikipedia.org/wiki/Betteridge%27s_law_of_headlines))

The plain language folks suggest using question headings when you know what questions your audience is likely to ask: [https://plainlanguage.gov/guidelines/organize/add-useful-headings/](https://plainlanguage.gov/guidelines/organize/add-useful-

[2020-05-19 23:04] emckean commented on #70
fixed in PR [#125](https://github.com/thegooddocsproject/templates/pull/125)

[2020-05-19 23:04] #70 closed

[2020-05-19 23:04] emckean commented on #44
fixed in PR [#125](https://github.com/thegooddocsproject/templates/pull/125)

[2020-05-19 23:04] #44 closed

[2020-05-19 23:05] emckean commented on #87
fixed in PR [#125](https://github.com/thegooddocsproject/templates/pull/125)

[2020-05-19 23:05] #87 closed

[2020-05-19 23:05] emckean commented on #72
fixed in PR [#125](https://github.com/thegooddocsproject/templates/pull/125)

[2020-05-19 23:05] #72 closed

[2020-05-19 23:06] emckean commented on #67
fixed in PR [#125](https://github.com/thegooddocsproject/templates/pull/125)

[2020-05-19 23:06] #67 closed

[2020-05-20 21:44] emckean opened #133 "provide more guidelines for audience vs. persona vs. jobs-to-be-done"
from [PR #91 ](https://github.com/thegooddocsproject/templates/pull/91)

[2020-05-22 07:34] Dishebh commented on #82
@camerons I would like to work on the issue. Can you please guide me as to where I can find the necessary docs to make changes to? Thanks!

[2020-05-22 08:42] Dishebh commented on #130
@shreyas1599 can I take up the issue?

[2020-05-22 11:02] shreyas1599 commented on #130
@Dishebh yeah sure, go ahead

[2020-05-22 12:33] jaredmorgs opened #135 "Implement ventilated prose as a standard for the project"
Hey folks I'm not certain if we've made a style rule about "one sentence per line" or what's known as ventilated prose or semantic linefeeds?

https://asciidoctor.org/docs/asciidoc-recommended-practices/#one-sentence-per-line describes what this is all about.

While that is an Asciidoctor practice I confirm that Markdown supports this for paragraphs also.

I'm finding that reviewing some PRs is be

[2020-05-22 13:58] shreyas1599 commented on #128
Right. Makes sense. But there should be consistency in making use of question marks. Some question titles use it while some don't.

[2020-05-22 16:33] Dishebh commented on #130
@shreyas1599 Opened a PR for the issue. Please review.

[2020-05-22 21:41] camerons commented on #82
Ah, this is a mistake by me in raising this issue in the first place. This document is not part of our core documentation set, but rather a ideas jolter for a workshop we had last year. I will close this issue with no action.

[2020-05-22 21:41] #82 closed

[2020-05-23 03:36] camerons commented on #135
Jared, I feel that we shouldn't introduce a "one sentence per line" rule into our doc templates.
It would be a rule which works around the limitations with storing data in a wiki format, and the tools which attempt to work around that. (It is a valid convention for that problem.)
It is a case of "first we shape the tools, then the tools shape us".
I feel that we should focus our templates purely o

[2020-05-23 08:00] jaredmorgs commented on #135
To be clear, it's more about how you store text in Git rather than any
specific style guideline that we would advocate across all document types.

If someone is copy-pasting from the rendered Markdown view, they won't even
see the formatting.

Jared Morgan
M: +61413005479
Twitter <http://twitter.com/!#/jaredmorgs> | Facebook
<http://facebook.com/jaredmorgs> | GitHub
<https://www.github.com/jaredmo

[2020-05-23 12:35] Dishebh commented on #122
@mgan59 @camerons Can I take up the issue?

[2020-05-23 12:43] Dishebh commented on #92
@camerons is the issue still up for grabs?

[2020-05-23 18:54] camerons commented on #92
This issue is still valid and is up for grabs. Original document reviewed is here:
https://docs.google.com/document/d/1oLWstvvDTHLfZ5QZrDwON1aco0RHdjIv66NblVd7atE/edit#

Another reason for having a screenshot for every key step is that it helps someone who is evaluating the software to see how the software will work - without having to install the software.

@jaredmorgs was the original author of

[2020-05-23 19:03] camerons commented on #122
Thanks for capturing this idea @mgan59. As mentioned, I think it is a good idea.
Re what else to capture. Our project is aiming to be best practice, so approval of a pull request should involve checking what justification can be used to consider this best practice. Ideally this should be captured in the issue, then referenced again in the pull request. For instance, justification might be that you

[2020-05-23 22:27] mgan59 commented on #122
@camerons

Gotcha and see your point.  The example I provided above was a version I was using in an integration-test-suite-repo.  In my repositories that contain feature/production services I typically have a __Context__ section which captures the _WHY_ this change is happening along with the __DETAILS__ which is the stand-in for _how_, typically the specifics.

So similar to your point the __Just

[2020-05-24 04:45] camerons commented on #122
@mgar59, I agree with your suggested framing as WHY, HOW, (and WHAT) - especially as these terms are relatively well understood. Happy to drop the term "Justification" as sounding too strict/harsh.
I think we should still provide some prompts for what should be included in a free text WHY section, such as:
* Aligns with our style guide
* Aligns with thinking or research into best practices (includ

[2020-05-24 09:37] Dishebh commented on #74
@camerons so should we make the points above as bullet / ordered list? If we refer to, and follow, the [standard DITA documentation type](http://docs.oasis-open.org/dita/dita/v1.3/errata02/os/complete/part3-all-inclusive/archSpec/technicalContent/dita-technicalContent-InformationTypes.html#dita_technicalContent_InformationTypes), we can re-write the points in an ordered list format. What are your

[2020-05-24 10:05] camerons commented on #74
This is a fairly trivial formatting issue, so I'm going to close this no action. If someone can find a standard we should follow which says that we should use a bullet list for listing terms, then I'd be happy for this issue to be reopened and fixed.

[2020-05-24 10:05] #74 closed

[2020-05-24 10:33] camerons commented on #135
Possibly relevant to this thread, in my day job I've just come across a Markdown style guide, which I think probably fits into the same category. https://github.com/google/styleguide/blob/gh-pages/docguide/style.md
There doesn't seem to be much community activity behind this guide, so we should be careful before considering adopting it.

[2020-05-24 13:59] Dishebh commented on #47
@camerons I guess the issue has been taken care of. Please see.

[2020-05-24 14:00] Dishebh commented on #58
@camerons I would like to work on the issue.

[2020-05-24 15:45] Dishebh commented on #40
@jaredmorgs I would like to take up the issue. Can you please share the link to the doc where the issue exists, and do I have to include a glossary for these terms in the same doc?

[2020-05-24 19:46] camerons commented on #47
Thanks for noticing @Dishebh. Yes, this issue can be closed.
@shreyas1599, am I right in assuming that you reviewed all the templates to see if they comply with capitalization rules?
@shreyas1599, @jaredmorgs, a point for us to remember for the future: after fixing and then merging the fix, we should close out the issue, so we get an accurate picture of what is left to fix. (And suitable credit is

[2020-05-24 19:46] #47 closed

[2020-05-24 19:51] camerons commented on #58
Thanks @Dishebh, I've assigned the issue to you.
It might help to review comments in the original doc that was used for reviews: https://drive.google.com/drive/u/1/folders/1He_WbY7qEzCVs1ub9nLQhrL8GOoogy5d
You can turn comments on in the top right of google docs.

[2020-05-25 05:01] shreyas1599 commented on #47
@camerons Yeah I've covered everything. I missed one or two and luckily @jaredmorgs caught them.

[2020-05-25 08:39] Dishebh commented on #58
@camerons I opened a PR referencing the issue. Please have a look.

[2020-05-25 08:48] Dishebh opened #141 "Replace some terms with their hyphenated version to make it in sync with the current style guide"
According to current document writing style and [Google document style guide comprising word list](https://developers.google.com/style/word-list), we should rather use the hyphenated version of some terms like `Step by step` and `Lead in` which are present in `how-to/about-how-to.md` and `how-to/template-how-to.md` docs of the repo.

[2020-05-25 08:48] Dishebh commented on #141
cc: @camerons @jaredmorgs @shreyas1599

[2020-05-25 09:10] shreyas1599 commented on #141
Although I couldn't find step-by-step in the link, step-by-step is used here as an [adjective](https://en.wiktionary.org/wiki/step-by-step) if I'm not wrong so it should include hyphens. While glancing through the link, I also noticed that the use of `above` is not recommended. It looks like we'll have to rephrase many words if we're sticking to the guide.

[2020-05-25 09:48] Dishebh commented on #141
+1 to the opinion of @shreyas1599

[2020-05-25 09:51] jaredmorgs commented on #47
I wish the issue closure process was automatic when a PR was merged. Maybe a GitHub action could help here.

[2020-05-25 09:57] jaredmorgs commented on #47
It turns out you can but you need to use keywords.

https://help.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords

Putting this into our PR template would be very handy. ;)

[2020-05-25 09:58] shreyas1599 commented on #47
@jaredmorgs just saw this. Also, if the PR misses this, a maintainer can also [manually link issues](https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#manually-linking-a-pull-request-to-an-issue).

[2020-05-25 10:03] shreyas1599 commented on #122
We also need to ensure that the issues that would be closed by the PR are explicitly linked through the use of certain [keywords](https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#manually-linking-a-pull-request-to-an-issue).

[2020-05-25 10:03] Dishebh commented on #47
@jaredmorgs maybe it is time we add a PR template, first, to the repo. issue #122

[2020-05-25 10:18] jaredmorgs commented on #47
Yep, the idea of a PR template is on the agenda I believe @Dishebh

[2020-05-25 10:48] jaredmorgs commented on #40
The text identified as being hard to understand isn't really if you have the context of the source of the term "Discussions".

https://documentation.divio.com/explanation/ is the updated name given to "Discussion" articles.

Maybe change the word from "understanding-oriented" (the original explanation provided for this type of documentation) to "explanation-oriented".

The goals of a Discussion ar

[2020-05-25 13:12] camerons commented on #135
Jared and I discussed this in a video conference and concluded:
* Yes, git changes which are due to changing <enter> and <space> placements is painful and we should try to avoid it.
* It is arguably a tooling problem.
* However, we could address by introducing a Markdown format guide (which a pretty printer could check against and enforce from a git pull request check).
* I, Cameron, will add an i

[2020-05-25 13:12] #135 closed

[2020-05-26 08:59] Dishebh commented on #65
@camerons I want to work on the issue. Just a couple of thoughts:

- Are we following the Google style guide or the guidelines of Content Design London? If we take some from former and a bit from later source currently, won't it make the docs less consistent than what it is now?
-  Also, aren't we know who the target audience is, already? (from the point mentioned below)

I also see some inconsist

[2020-05-26 09:10] Dishebh commented on #59
@camerons I would like to work on it. Can you please give some more insights? Do I have to add a `See Also` section at the bottom that refers to other similar sections on the same concept?

[2020-05-26 11:43] camerons commented on #65
Michelle has raised a point which I think would be useful for a wider discussion. @Dishebh I suggest this is probably not a good starter issue to work on.

[2020-05-26 11:48] camerons commented on #59
You can find the source comments in https://drive.google.com/drive/u/1/folders/1He_WbY7qEzCVs1ub9nLQhrL8GOoogy5d
To address this issue, a tech writer should consider the feedback, assess whether it is value, look for other best practices to refer to, and use it to provide a recommendation in the solution.

[2020-06-02 19:29] emckean commented on #128
I agree that if a title is a question, it should have a question mark :)

[2020-06-03 10:34] mgan59 commented on #128
I'm a fan of punctuation, and good to tip @shreyas1599 I hadn't realized the vscode markdown linter was flagging punctation, but I see it now [MD026](https://github.com/DavidAnson/markdownlint/blob/master/doc/Rules.md#md026---trailing-punctuation-in-heading) which links to this [opinion](https://cirosantilli.com/markdown-style-guide#punctuation-at-the-end-of-headers)

Screenshot of the Rules
---
!

[2020-06-10 10:34] #40 closed

[2020-06-10 22:20] emckean opened #143 "create an annotated version of the "List of Documentation Types With References""
We have a braindump list of types of documentation here: https://github.com/thegooddocsproject/templates/wiki/List-of-documentation-types-with-references

A great task would be to turn this into a markdown glossary/guide with links to articles or blog posts about that kind of documentation.

[2020-06-13 02:35] Loquacity commented on #96
I am happy to do a copy-edit as part of GSoD 2020, if mentors think it would be valuable. Which style has been chosen?

[2020-06-14 12:22] jaredmorgs commented on #96
I believe we've settled on Google Developer Style Guide.

[2020-06-15 04:38] Loquacity commented on #56
This is captured in this issue: https://github.com/thegooddocsproject/templates/issues/54
Which is addressed in this PR: https://github.com/thegooddocsproject/templates/pull/147

[2020-06-15 04:42] Loquacity commented on #56
I feel like adding the three subheadings would be a bit overblown. I suspect the _things you should know_ category runs the risk of changing the content type, because it runs into Concepts, rather than Tasks. Additionally, considering most people are documenting software, there isn't really anything they should _have_. It's really all about what you should have _done_, so perhaps giving a couple o

[2020-06-15 12:20] mgan59 commented on #122
An initial PR has been opened for this work over at #149

[2020-06-26 20:35] gaurivn commented on #143
I would like to work on this issue.

[2020-07-01 18:15] #54 closed

[2020-07-15 16:39] #132 closed

[2020-07-15 21:17] #122 closed

[2020-08-09 16:33] ScriptAutomate opened #151 "Write The Docs (WTD Portland) 2020: Transform templates to your wiki format"
Hello, there!

This issue was opened up as a way to track discussion, feedback, brainstorming, use cases, etc. around how a tool such as `pandoc` can be used to transform templates to ideal file formats. It will be periodically updated throughout writing day.

- What file formats do you wish TGD project templates could be easily auto-formatted into?
- If you have used `pandoc`, what have been tips

[2020-08-09 19:06] cwcromwell opened #152 "TGDP needs a template for a README"
Projects on GitLab and GitHub need a readme with information such as:

-- how to contribute to a project
-- project architecture
-- how to build the project locally (including depencies that you might have to install)
-- link to more documentation if it exists.

There might be more needed in this outline.

[2020-08-09 19:15] mjang commented on #152
GitLab template example for GraphQL: https://docs.gitlab.com/ee/development/documentation/styleguide.html#graphql-api

[2020-08-09 20:35] ScriptAutomate commented on #152
This would be excellent for _The Good Docs Project_ repositories to reference, too. TGD has a repository that is missing a README, and could make use of it!

- [The Good Docs Project website source code](https://github.com/thegooddocsproject/thegooddocsproject.github.io)

[2020-08-10 06:25] Loquacity commented on #152
Possible duplicate? https://github.com/thegooddocsproject/templates/issues/110

[2020-08-10 15:49] mjang commented on #152
You're welcome to assign me an issue, @ScriptAutomate

[2020-08-12 19:32] ScriptAutomate commented on #152
@Loquacity Agreed. I think this issue should be closed as a duplicate of #110

[2020-08-13 15:45] acpkendo commented on #151
I've done some simple Bash scripting that runs Pandoc on an entire directory into multiple formats, the concept of which could be useful if we include a "build docset" or similar concept as part if a larger toolchain.

[2020-08-13 20:43] camerons commented on #110
#152 was closed as a duplicate of this.

cwcromwell commented
Projects on GitLab and GitHub need a readme with information such as:

-- how to contribute to a project
-- project architecture
-- how to build the project locally (including depencies that you might have to install)
-- link to more documentation if it exists.

There might be more needed in this outline.

@mjang

mjang commented
GitLab

[2020-08-13 20:48] camerons commented on #152
Closing this issues as a duplicate of #110 as suggested.
@mjang it would be great if you would like to take the lead on helping resolve this. Refer to proposed steps for resolution in #110. (Note, it is likely going to involve a lot of research, community liaison and negotiation.)

[2020-08-13 20:48] #152 closed

[2020-08-18 20:27] ScriptAutomate commented on #110
Just going to leave this here, too: https://github.com/thegooddocsproject/thegooddocsproject.github.io/issues/33

[2020-08-26 21:42] #77 closed

[2020-08-29 22:41] alecthegeek opened #155 "API reference template assumes REST only and no payload"
The current API reference suggestions only support RESTful style APIs. There is a also no mention of payloads.

1. Add support for API payloads in RESTful calls
2. Add formats to support other API technology (e.g. gRPC, XML-RPC, GraphQL, ...)

[2020-08-29 22:45] alecthegeek commented on #81
A suggestion.

Provide some examples on how to incorporate API doc tools (e.g. Swagger) into these templates (IMHO the Swagger docs don't explain how to publish the final content)

Can also add information for gRPC tools etc.

[2020-09-02 10:56] jaredmorgs commented on #14
@camerons discussed/clarified this in a meeting:

The current license we use (CC0) is not legally sound according to Google and is not contestible in certain jurisdictions.

@Loquacity suggested that we could use https://www.gnu.org/licenses/fdl-1.3.en.html which is a specific non-attribution license for open-source documentation.

[2020-09-02 20:44] camerons commented on #14
Slight clarification to Jared's comments.
I had originally proposed a CC0 license for our docs, in order to allow downstream projects to use our templates without forcing them to add a license statement on their docs. (I suggest that it sometimes, like on a home page where every word counts, you don't want to add a string of extra license statements.)
Google legal had advised that CC0 is not legal

[2020-09-03 01:40] Loquacity commented on #14
I would argue that using a software licence for docs is very common, and shouldn't be overly confusing for anyone who cares about licencing. Especially since we are (at least mostly) running with a docs-as-code setup here.

[2020-09-07 22:25] ScriptAutomate opened #156 "Contributing documentation using non-standard naming convention"
This repository uses `contribute.md` instead of `CONTRIBUTING.md` as the contributor documentation. This should be changed, in order to fit with the expected standard.
- [GitHub docs on the `CONTRIBUTING.md` file](https://docs.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors)

An additional benefit of using the proper standard of `CONTRIBUTING.md` as

[2020-09-07 22:49] ScriptAutomate opened #158 "The Good Docs Project should have a CODE_OF_CONDUCT.md file, and template(s) for a code of conduct"
What is often found as standard in open-source repositories is a `CODE_OF_CONDUCT.md` file. Not only may it be a good idea for the repositories that are open-source under The Good Docs Project to have one, but it also may be a good idea to have a template.

Fortunately, this work may already be done for us by [Contributor Covenant](https://www.contributor-covenant.org/), which provides a template

[2020-09-07 23:09] barbaricyawps commented on #158
I totally like this idea. Some items to consider:

- Would we need to assign any kind of attribution for it or are there any licensing issues to worry about?
- How stable is the Contributor Covenant COC, meaning how regularly it is modified. If they update, how can we ensure that we inherit their changes?

[2020-09-08 00:15] ScriptAutomate commented on #158
## Would we need to assign any kind of attribution for it or are there any licensing issues to worry about?

Usually, for attribution, using the Contributor Covenant includes this at the bottom:

---

## Attribution

This Code of Conduct is adapted from the [Contributor Covenant][homepage],
version 2.0, available at
https://www.contributor-covenant.org/version/2/0/code_of_conduct.html.

Community

[2020-09-09 10:44] camerons commented on #16
This issue has been resolved before, so can be closed.

[2020-09-09 10:44] #16 closed

[2020-09-11 17:27] ScriptAutomate commented on #158
Also, this may be how TheGoodDocs project can cover all open-source repos with standard templates around their code of conduct, issue templates, etc:
- https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file#about-default-community-health-files

And then we should probably document it so other people are aware they can do the same thing in their own o

[2020-09-12 18:41] barbaricyawps opened #159 "Have a pre-commit check"
I recently opened a PR to the incubator and @Loquacity discovered my commit had some "smart apostrophes" in it. One possible workaround for catching this would be to add a pre-commit checker for PRs. However, this is a little tricky to set up and it's tricky to learn how to set it up on your local preview if you're not familiar with that convention.

[2020-09-14 00:53] Loquacity commented on #159
Adding some linting to a GH Action would be a great idea, imho :+1:

[2020-09-14 13:10] ddbeck opened #160 "Consider adopting a Markdown source formatter"
Inspired by this thread https://github.com/thegooddocsproject/incubator/pull/4/files#r486759278, we ought to consider choosing a Markdown source formatter to enforce source style.

If we care about source style for Markdown (a big if!), then we may want to adopt a tool like [Prettier](https://prettier.io/). It would push the responsibility of choosing a style onto a tool (so we don't have to debat

[2020-09-15 11:57] mgan59 commented on #160
I feel like there are other issues open on this topic as well.  And I think we are all in agreement on adopting some tooling.  I recall my last discussion with Cameron and others around Markdown was which version -- CommonMark versus GithubFlavored (adheres to CommonMark, adds just a few additional grammar rules)... There remains planning the scope(s) of the work regarding setting up something lik

[2020-09-15 12:03] mgan59 commented on #159
@barbaricyawps Agreed, think it ties into what @ddbeck is proposing as well in terms of linting for markdown.  Within the incubator/#4 pull-request would help to know which commit has the smart apostrophes so when we build the tooling we can have a test-case.

[2020-09-15 12:50] mgan59 commented on #158
Want to make sure I understand what it is we are looking to address.

1. We lack a `CODE_OF_CONDUCT.md` in our repos?   This is sorta true.  We have [CodeOfConduct](https://github.com/thegooddocsproject/governance/blob/master/CodeOfConduct.md) inside of our `governance` repo.  Which is linked to from our [webite/community-section](https://thegooddocsproject.dev/community.html).  Would probably hel

[2020-09-15 12:55] shreyas1599 commented on #130
I'm closing this issue as the PR has been merged.

[2020-09-15 12:55] #130 closed

[2020-09-16 01:05] barbaricyawps commented on #158
I could have misunderstood what @ScriptAutomate is proposing, but I think he's suggesting we provide a template for a code of conduct since a COC would definitely fit into the definition of a "minimum viable docset" for a new open source project.

[2020-09-16 04:43] Loquacity commented on #159
The original commit in the PR had a mix of both, to my eye.

[2020-09-16 21:54] camerons commented on #14
For future reviewers: We've added "The Vault" label to this issue, as it is a decision to be revisited later.
* Let's revisit by March 2021
* Hopefully by then Google contributors can discuss with Google legal who provided original legal advice on license choice.
    * Note: 0BSD is not an option that can be selected from the github pulldown list when selecting a repository, and as such our projec

[2020-09-17 09:11] ddbeck commented on #160
I'd welcome your help on this, @mgan59! I didn't have time to actually take on this problem in any depth. I had a similar thought that some GitHub Actions workflow to check (and perhaps to fix?) source would be extremely desirable.

[2020-09-17 09:19] ddbeck commented on #159
My source formatter suggestion was in #160, though I don't think Prettier itself enforces a Markdown quotes style. We might need additional process or tooling on top of a source formatter for that sort of stylistic issue.

[2020-09-22 11:30] jaredmorgs commented on #158
No, I believe the intent is for the Good Docs Project to have a
centrally-managed CoC for our own needs, not necessarily a template for a
CoC for other users to consume.

Having guidelines for creating a CoC would be a good addition, but is out
of the scope of this issue scope.

On Wed, 16 Sep 2020 at 11:05, Alyssa Rock <notifications@github.com> wrote:

[2020-09-22 14:48] barbaricyawps commented on #158
It's worth mentioning that we recently added a template for Communication Guidelines to the incubator, which seems similar to this proposal:

- https://github.com/thegooddocsproject/incubator/blob/master/about-communications.md
- https://github.com/thegooddocsproject/incubator/blob/master/template-communications.md

[2020-09-23 11:04] #35 closed

[2020-09-23 21:45] #92 closed

[2020-09-30 11:14] #141 closed

[2020-09-30 11:14] #36 closed

[2020-09-30 11:15] jaredmorgs commented on #36
This issue has aged and is no longer needed.

[2020-09-30 21:56] Loquacity commented on #58
Merged PR

[2020-09-30 21:56] #58 closed

[2020-09-30 22:03] bwklein commented on #39
It does seem like the intention is to provide a starting point or anchor for a point of discussion or dialog.
https://github.com/thegooddocsproject/templates/blob/master/discussion/about-discussion.md#structuring-discussion-articles

[2020-09-30 22:48] waldyrious commented on #39
For the record, the popular [four-part documentation system](https://documentation.divio.com/) by Divio [originally](https://web.archive.org/web/20170806015413/https://www.divio.com/en/blog/documentation/) contained four types:

but they later changed to

...presumably due to the same ambiguity. I too feel alternative terms ("overview", "context", "background", "explanation", or even the classic "

[2020-10-01 00:53] flicstar commented on #39
Thinking about this, I am happy with the term "explanation".
In my past experience, we would internally call this a _concept topic_ but then in the docs we'd title it "About blah". I also like "overview" but I think "explanation" is plainer English.

[2020-10-06 22:21] adohertyTS commented on #39
Per the consensus of this thread (which I agree with), I think we should change all the naming within Templates that currently refers to the doc type "Discussions", to instead refer to "Explanations". +1 on this.

[2020-10-07 21:42] acpkendo commented on #39
+1 that "Explanations" is a better term for this concept than "Discussions."

[2020-10-07 22:28] camerons commented on #41
From US/AU weekly meeting discussion, we decided to close this based on:
* There are two personas we want to write to: 1. Open Source Developer - just fill in the template. 2. Tech Writer - wants background information and writing instructions. As such, there is a case for two docs.
* This is really a question that should be picked up by the base template project which Viraji and Lana are leading.

[2020-10-07 22:28] #41 closed

[2020-10-07 22:32] aidanatwork commented on #39
OK, I made some changes to resolve this issue. If folks have further suggestions to improve the language, let's tackle them in a new issue. Closing this out.

[2020-10-07 22:32] #39 closed

[2020-10-08 08:54] viraji commented on #41
Re:This is really a question that should be picked up by the base template project which Viraji and Lana are leading.
Noted, and we will be considering this in the Base Template project.

[2020-10-08 09:49] flicstar commented on #97
@mgan59 check it out, just came across this. We talked about what you looked at today back in November. That's how long it's been hanging around. :-)

[2020-10-09 05:24] flicstar commented on #79
Thinking about a good place to put this. I think we could create a space (repo? google folder?) to hold materials for use at conferences and events where we want to present or workshop The Good Docs Project.

This place could hold:
- Idea jolters
- Standard set of presentation slides
- Standard set of workshop material (input/output)
- Checklist for presenters (bring Doctopus stickers!)
- Boilerpl

[2020-10-09 05:27] flicstar commented on #80
The clue is in the name :-) "jolters" are meant to come from a different perspective (in this case, negative) to jolt people into thinking about things another way. Sometimes it's easier to answer what a thing isn't than what it is.
We know that we want content to meet the needs of the user, but we ask a question about "what needs aren't being met" to quickly narrow the focus to identifying gaps.

[2020-10-09 05:27] #80 closed

[2020-10-09 05:28] flicstar commented on #93
See also Issue #79 . I'll address this one when I address that one.

[2020-10-09 05:36] flicstar commented on #128
I am also 👍 for punctuation. I have used question marks judiciously in headings in the past. I hope our tool won't restrict us in doing that - yay for configuring the linter.

[2020-10-10 22:25] jaredmorgs commented on #128
+1 for question marks in headings. For example "What is a flibbergidget?"

+1 for other limited punctuation like colons in headings. For example "Example: Testing the flibbergidget"

-1 to periods in headings.

[2020-10-10 22:31] jaredmorgs commented on #128
It seems that the only reason this issue was raised is because of the Code linter flagging question marks by default.

https://cirosantilli.com/markdown-style-guide/#punctuation-at-the-end-of-headers this guidance in @mgan59 screenshot does not say anything about question marks being bad.

I think based on this fact, we should close this issue.
I'll do that, and if there are any objections please

[2020-10-10 22:31] #128 closed

[2020-10-10 23:02] jaredmorgs commented on #158
@barbaricyawps does the Comms Guidelines mean that this issue is resolved, or are there some edge cases left?

[2020-10-11 02:27] #156 closed

[2020-10-11 02:30] jaredmorgs commented on #96
I've assigned this one to you @Loquacity .

[2020-10-11 23:56] flicstar commented on #79
@camerons , @cwcromwell I think you have both done presentations for The Good Docs in the past - does this sound like a good idea, and is a repo the best place to store it?
I've had a quick look across GitHub and found some kind of similar repos...so it's not a terrible idea.

[2020-10-12 03:40] camerons commented on #79
Not quite what you are asking for, but I've added links to past presentations at here: https://github.com/thegooddocsproject/thegooddocsproject.github.io/pull/55
This will make them easier to reference later.

Something which I think is on our back-burner is to set up a roadmap, and this setting up of a training pack would be an epic on that roadmap. I think the closest thing we have at the moment

[2020-10-12 14:32] barbaricyawps commented on #158
It's not yet resolved, @jaredmorgs . In fact, it has recently come to my attention that this is an even higher priority issue than I thought. I plan to work on this issue this week.

[2020-10-12 15:32] ScriptAutomate commented on #158
Ah, maybe this issue truly belongs in the [`governance` repo](https://github.com/thegooddocsproject/governance)? If so, I think we should consider org-wide (applying to TheGoodDocs projects in general) saving of files like `CODE_OF_CONDUCT.md` into a `.github` repository, as detailed here:
- https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/creating-a-default-commu

[2020-10-12 15:45] ScriptAutomate commented on #158
I have created https://github.com/thegooddocsproject/governance/issues/11 in the `governance` repository.

I also made https://github.com/thegooddocsproject/governance/pull/10 to change the `CodeOfConduct.md` to the `CODE_OF_CONDUCT.md` naming convention.

[2020-10-14 21:47] #42 closed

[2020-10-17 15:58] aidanatwork opened #161 "Test issue from Aidan"
Not a real issue. Testing for GDP Bot project.

[2020-10-21 09:54] jaredmorgs commented on #52
Lana did the work on this one and therefore I'm closing.

[2020-10-21 09:54] #52 closed

[2020-10-28 10:02] #96 closed

[2020-11-05 01:53] camerons commented on #63
Notes from meeting discussion about this:

Aidan (from prior to meeting): I think this is the oldest issue, let’s discuss:
My thoughts: I would be reluctant to add a time that it takes to complete a tutorial to the tutorial template. In my experience tutorials are wildly variable in how long they take someone to compete, and I wouldn't encourage tech writers to include this. It may make some sense

[2020-11-05 02:46] Loquacity commented on #63
I think we are too many steps removed to be able to provide guidance here. The person writing the actual document might be able to provide an estimate for how long it would take readers to read and/or perform actions described in the document, but I don't think there is enough evidence either for or against doing so that we could safely recommend that they a) provide an estimate, or b) tell them h

[2020-11-05 02:58] aidanatwork commented on #63
+1 on closing without action

Sent from my iPhone

[2020-11-05 05:15] viraji commented on #63
+1 on closing without action, for indicating a "reading time" on the
tutorial. That poses no real value as has been pointed out above.

Alternatively, however, we can *optionally* include some indication that
would gauge the level of competency required for the tutorial to be carried
out, as below for example:
Level of competency in handling API documentation for carrying out this
tutorial is : {l

[2020-11-05 05:31] camerons commented on #63
I'm +0 (mildly in favor) on closing this issue as it stands because I think if it were to apply anywhere, it should start by being applied to the base template.

I'm -0 (mildly against) dropping "expected reading time" from our template guidance. I think there is value is helping readers know how long a document will take to run/read. However, we can take that up as a separate issue later.

[2020-11-05 15:51] aidanatwork commented on #63
Regarding competency, the most common convention I’ve seen is to say something like; “Basic understanding of HTML and CSS is needed for this tutorial.” Or “Basic understanding of Python is helpful for this tutorial, but not required.” Rather than saying low/medium/high, you address the specific knowledge that is needed as a prerequisite.

Sent from my iPhone

[2020-11-05 20:19] aidanatwork opened #163 "test title"
body

[2020-11-05 21:38] jaredmorgs commented on #63
"Reading Time" is often an automatically calculated value based on word
count offered by some sites like Medium.

I feel that manually calculating this value is "finger in the air" stuff
best left out of our template recommendations.

I'm therefore +1 to closing of this issue as "won't do".

On Thu, 5 Nov 2020, 11:53 Cameron Shorter, <notifications@github.com> wrote:

[2020-11-11 22:44] mgan59 commented on #77
Posting here the current description in the `Readme`

| Template name | Documentation type | Description |
| ------------- | ------------------ | ----------- |
| How-to | Task | Short series of steps for a particular task |
| Tutorial | Concept, Task | A training document for a product or topic |

[2020-11-11 22:44] mgan59 commented on #61
Posting here the current description in the `Readme`

| Template name | Documentation type | Description |
| ------------- | ------------------ | ----------- |
| How-to | Task | Short series of steps for a particular task |
| Tutorial | Concept, Task | A training document for a product or topic |

[2020-11-11 22:47] flicstar commented on #61
Yeah cool, thanks Morgan.
I think the How-to description is good.

I would suggest updating the Tutorial description to something like "A collection of How-to procedures for learning a product or topic. Typically a longer document than a How-to." Off the top of my head.

[2020-11-12 01:33] Loquacity commented on #61
I wonder if it's worth drawing a distinction between these using "process" and "procedure". A process contains many procedures, so a Tutorial is a process, while a How To is a procedure.

[2020-11-12 02:33] camerons commented on #61
I'll throw in https://documentation.divio.com/ as a good description of four doc types, including Howtos and Tutorials.

[2020-11-12 11:57] waldyrious commented on #61
I fully subscribe to that resource as a great model for distinguishing between tutorials and howtos, and to structure documentation in general. From my understanding, here is the gist of how they define them:

- [Tutorials](https://documentation.divio.com/tutorials/) are quick-start guides, aimed at beginners, and usually present a simplified model of the system to help them learn the ropes and ge

[2020-11-15 02:22] Loquacity opened #164 "Convert adoc templates to markdown"
These templates don't adhere to the same format used in the markdown templates. Most of the markdown templates are bare bones, with the discussion and reasoning in their companion doc, while the adoc templates have more content in the template file. Additionally, the adoc files have a certain amount of variables, etc, that only work within an adoc environment.

- [ ] logging/template-logging.adoc

[2020-11-15 02:28] Loquacity opened #165 "Standardise on what we call people"
After discussion on the mailing list, we agreed that:

- People who read templates are **readers** (even when they are reading templates in order to write documentation).
- People who use software are **users** (even if they are reading documentation to help them use the software).

This guidance needs to be added to our writing advice, and we should double check that we use these terms correctly

[2020-11-15 02:37] Loquacity opened #166 "Implement dead link checker"
Implement a dead link checker for the templates repo (and potentially the website repo). Implementation details to be discussed, here are the suggestions from the ML:

* GH Action, either using an existing checker from the marketplace, or writing our own.
* htmltest, also does other HTML checks: https://github.com/wjdp/htmltest
* pre-commit, also does spell check and markdown syntax checking: http

[2020-11-15 03:14] Loquacity opened #167 "IA Guide - future edits"
When the IA Guide hits the templates repo, these are the next things to be worked on:

* Set the objective or expectation more clearly -- what is it I want my audience after reading this document to walk-away understanding. And I think this idea of State Your Intent captures it. I think it may belong higher up in the narrative.
* Expand on the 'Prepare to Adjust' section. I like the idea of maybe

[2020-11-18 22:59] acpkendo commented on #56
Discussed this at the US meeting on 11/18, everyone agreed this is something that should be added to the How-to as well as the Base templates (with mention that it might already be part of the latter). Assigning this issue to myself, adjustments to add this to (at least) the How-to to come shortly.

[2020-11-26 18:45] rulalub opened #169 "api template"
## Template description
Describe the template you think our project should provide

## Benefits
Describe the advantages that this template would have

### Use cases
Describe some scenarios in which this template might be useful

## Additional information
Provide any additional requirements, context, or links that might be helpful

[2020-11-29 01:00] Loquacity opened #171 "Align Contributors' Guides"
**Describe the bug**
We have several locations with Contributors' Guides, let's align them in the correct place:

* `.github` directory: This is the correct place, so that the repo shows that we have a Contributors' Guide in the Insights tab. However, doing a PR to this directory is a little tricky.
* Templates repo `CONTRIBUTING.md`: This has the right filename, but is only a stub.
* Incubator re

[2020-11-29 02:40] Loquacity opened #173 "IA Guide - Add cover image"
**Is your feature request related to a problem? Please describe.**
The title page of the IA Guide is a bit boring.

**Describe the solution you'd like**
Add a picture to zush it up a little.

**Describe alternatives you've considered**
Do nothing, and be boring.

**Additional context**
![image](https://user-images.githubusercontent.com/3914967/100530625-fc2bf600-323f-11eb-97c1-fc2e3a38eeed.png)

[2020-11-29 03:18] barbaricyawps commented on #171
Thanks for being willing to take this on, @Loquacity . This issue is related to a task needed for the website: https://github.com/thegooddocsproject/website-hugo/issues/22

Would you be willing to let me know what you consolidate so that we can get them up on the website?

[2020-11-30 00:02] #163 closed

[2020-12-02 22:47] camerons commented on #59
This should probably go in the base template too.

[2020-12-02 22:48] barbaricyawps commented on #59
Don't forget that it needs to be included in the raw template, but also the explanation of how to use the template. :)

[2020-12-02 22:49] acpkendo commented on #59
The team seemed to agree that this is useful, we'll add to the base template and applicable individual templates. And, as @barbaricyawps mentions above, in the about/how-to file for each.

[2020-12-04 01:17] viraji commented on #59
Thanks @acpkendo - as I'm working on another PR for the base template, I can include this as well, myself - shall I?

[2020-12-07 00:42] #171 closed

[2020-12-09 23:09] acpkendo commented on #62
Based on a discussion with the group, closing this issue as written as Tutorials are existing templates with an existing definition.
The U.S. meeting notes from 12/9 include some information on how modular content will be picked up.

[2020-12-09 23:09] #62 closed

[2020-12-12 22:01] barbaricyawps commented on #159
@ScriptAutomate might be able to weigh in on this issue too, so tagging him here.

[2020-12-13 03:00] ScriptAutomate commented on #159
A minimum-recommended pre-commit setup:

### .pre-commit-config.yaml

[code]

### .github/workflows/actions.yaml

[code]

### .brok-ignore-links

[code]

That would help with a lot of general annoyances. I'm not sure how to get `codespell` to skip special entries where it is raising false flags, though, so we may not want it if it gives us grief unless someone else can figure out how to work with

[2020-12-13 04:36] ScriptAutomate commented on #160
I have opened #175  for pre-commit that _could_ be expanded to include a `prettier` check integrated into `pre-commit` for local development, which would then only require `pre-commit` setup locally, rather than additional work around things like `nodejs`.

Though the PR doesn't currently include a `prettier` check, I do have a preview branch on my repo with `prettier` included in the `pre-commit`

[2020-12-19 23:24] camerons commented on #164
This would be a good first issue for someone interested starting to join our project. I'd suggest start first by initially just doing a conversion of current text, and getting that accepted.

Later you can discuss changing the structure of the documents. (There might be a base template to work from by the time you do this second update phase.)

[2020-12-30 21:01] barbaricyawps opened #176 "EPIC: Templates for open source community documents"
This issue is an epic, which means it is a container issue that will be used to track smaller, related issues that are trying to accomplish an overall project goal.

## Epic description
When starting a new open source project, there are certain minimum viable documents that are crucial for any open source community. These documents are:

- **README** - An overall project description.
- **Contribut

[2020-12-30 21:08] barbaricyawps opened #177 "README template"
## Template description
Provide a template for writing an effective project README file.

## Benefits
This is a minimum viable docset for any new open source project. We should research best practices and provide guidance.

### Use cases
Every new project needs a viable README file.

## Additional information
To be added later

[2020-12-30 21:16] barbaricyawps opened #178 "Contributing guide template"
## Template description
Provide a template for writing an effective contributing guide.

## Benefits
This is a minimum viable docset for any new open source project. We should research best practices and provide guidance.

## Use cases
Every new project needs a viable contributing guide.

## Additional information
Links to effective contributing guides:

- [IntelliJ AsciiDoc Plugin Contributing Gu

[2020-12-30 21:31] barbaricyawps opened #179 "License template"
## Template description
Provide a template for writing an effective contributing guide. NOTE: Since GitHub allows you to select your license, I wonder if this template should be a good for choosing a license?

## Benefits
This is a minimum viable docset for any new open source project. We should research best practices and provide guidance.

### Use cases
An open source project is simply not usabl

[2020-12-30 21:57] barbaricyawps opened #180 "Code of Conduct template"
## Template description
Provide a template for writing an effective contributing guide that can scale over time.

## Benefits
This is a minimum viable docset for any new open source project. We should research best practices and provide guidance.

### Use cases
This document is important for ensuring that communities are healthy and welcoming.

## Additional information
We're currently in the proc

[2020-12-30 22:05] barbaricyawps opened #181 "Support guide template"
## Template description
Provide a template for writing an effective Support guide.

## Benefits
This is a minimum viable docset for any new open source project. We should research best practices and provide guidance.

### Use cases
Every new project needs a viable contributing guide.

## Additional information
To be added later.

[2021-01-06 22:48] camerons opened #183 "Bunch of extra ideas for the base template"
Over the Christmas break, I've been thinking about how we can build out
from Viraji and Lana's version of the base template docs (currently on the
master branch).

I've collated my ideas in rough draft of the base-template.md and
about-base-template.md file on a branch:
https://github.com/thegooddocsproject/incubator/blob/camerons-base-template/base-template/about-base-template.md

There are a num

[2021-01-13 23:36] camerons commented on #63
This was discussed in weekly meeting:
* Morgan: This is something that the toolchain can help with.
    * Want to use intelligence around types of content, such as code blocks, and the type of language.
* Alyssa: Eg: https://www.docebo.com/knowledge-base/elearning-how-to-manage-docebo-app-custom-domain/
* Cameron: If we include this, it is something that we should incorporate into the metadata in

[2021-01-13 23:36] #63 closed

[2021-01-20 23:38] arturhefczyc opened #184 "How to publish instructions"
Hi,

Templates are great and useful. Thanks for that!

I am not sure if I am missing something but I cannot find any information on how to actually use these templates in practice. In particular on how to publish documents based on these templates.

Can they be published using GitHub pages? If so, how?

How to apply some themes, etc...

[2021-01-23 04:26] aidanatwork commented on #61
I also support using the distinction as outlined by Divio's documentation system. One of the key differences is that a Tutorial assumes much less product-specific knowledge going in and the end result should be the reader actually creating something that works (ex: "Hello World"), even if it is too simple to be a realistic use case. The key action is **learning**.

With a How-to Guide basic famili

[2021-01-23 04:52] aidanatwork commented on #184
@arturhefczyc We are still fairly early in the project, so we don't have a fully functional workflow developed for using the templates. We have a "Tools" initiative within the project that is working on smoothing out some of these details, integrating the templates with GitHub, popular static-site generators, etc. For now though I think you would just have to manually copy the templates into your

[2021-01-23 04:52] #184 closed

[2021-01-23 04:54] aidanatwork commented on #184
I'm closing this out, as it as an excellent suggestion that is already being worked on by the Tools initiative. There is not currently a workflow available for publishing using GitHub pages though.

[2021-01-23 04:59] aidanatwork commented on #73
-1
I would second avoiding mention of DITA. For many small projects, especially ones without professional tech writers, they may never come within 100 miles of DITA. One of our core use cases is open-source projects maintained solely using GitHub pages. I don't think there is much in the way of DITA capability there.

Separately with regards to "procedure", this is a widely understood term for tec

[2021-01-27 22:47] acpkendo commented on #68
The group felt that providing some guidance in this area is better than not providing it, particularly for personas such as software developers (who may not have any background in formal writing in general). @aidanatwork mentioned having some familiarity with research in this area, and offered to take up this issue in order to assemble some guidance we can consider.

[2021-01-29 09:59] AstroChoco commented on #169
@camerons shall I take this task? Will the file format be Markdown?

[2021-01-29 17:16] camerons commented on #169
@AstroChoco, I think that @aidanatwork is planning to look into templates, so I suggest only taking this on if @aidanatwork is not.
Our thinking is currently moving forward with regards to what should be in a template, and I'm currently updating our base template, which defines what all our other templates will require. I expect to be draft ready in Feb/Mar 2021 timeframe, and I suggest postponing

[2021-01-31 16:11] AstroChoco commented on #169
Thanks for the info, @camerons . I will check what I can do around the end of March.

[2021-02-03 22:46] acpkendo commented on #73
As the above-listed PR #144 appears to address all the questions/asks in this issue, closing.

[2021-02-03 22:46] #73 closed

[2021-02-10 22:43] aidanatwork commented on #78
I'll take another pass at this copy.

[2021-02-17 22:47] aidanatwork commented on #81
No clear action can be taken on this, so we will close it out. We'll keep in mind the importance of OAS tools.

[2021-02-17 22:47] #81 closed

[2021-02-18 00:46] alecthegeek commented on #81
I have recently incorporated Swagger with Hugo static content. I will be giving a couple of talks to Write the Docs later this year on how I did did it. Maybe that can be used a starting point?

[2021-02-24 20:24] aidanatwork commented on #68
I've opened a PR that fixes this issue:
https://github.com/thegooddocsproject/templates/pull/187

[2021-02-28 04:08] camerons opened #188 "Move incubator templates into the templates/ dir for future development"
In the Good Docs weekly meeting, we agreed to continue future new immature template development within the templates/ repository, rather than in the incubator/ repository. [Email summarizing meeting decisions](https://thegooddocsproject.groups.io/g/main/topic/80890760#632).

This issue is to create move templates from the one repository to the other, ideally including git history so we credit cont

[2021-03-03 22:54] acpkendo commented on #83
Will set up a time to speak with Chris Ward and Ryan Macklin to coordinate on 1) content, 2) format, and 3) location.

[2021-03-06 03:33] #161 closed

[2021-03-16 21:42] aidanatwork opened #191 "details of Reference template need to be consistent with base template and improved in other ways"
**Is your feature request related to a problem? Please describe.**
We recently created a base template, and want all our other template files to be consistent with it.

**Describe the solution you'd like**
Rewrite the files in the templates > reference folder to follow the base template. Also improve the conciseness and accuracy of the copy regarding reference pages.

**Describe alternatives you'v

[2021-03-27 21:15] camerons opened #193 "Remove build.yml file from dev branch"
**Describe the bug**
In the dev branch of the templates, we accidentally pulled in the IA Guide (which is now in the hugo website.)
We previously removed the IA Guide text, but we missed removing an auto build script:
templates/.github/workflows/build.yml

This script continues to get executed by github, which emails messages for script failure to the owners of the repository.

**Resolution:** Rem

[2021-05-19 18:14] aidanatwork opened #198 "Create Reference template"
# Create Reference template

## Description
### Doc Type Name: Reference
### Directory: https://github.com/thegooddocsproject/templates/tree/master/reference
### Sub-tasks
1. Create reference-template.md and write content for it
2. Create reference-guide.md and write content for it

We already have an attempt at template files in this directory, but they need to be renamed to match our naming conv

[2021-05-20 02:58] aidanatwork commented on #177
@barbaricyawps I added some labels to this since the README is included in our P1 templates:
https://docs.google.com/document/d/1qCqNIdSz_EM37LjNBfLiVdaNCkEuyTfF_RNahA2aLik/edit?pli=1#

[2021-06-10 20:00] aidanatwork opened #199 "Create templates list"
Create a file at top-level of templates repo with a list of templates we need to create.

[2021-06-13 07:44] camerons commented on #183
Content merged. This issue can be closed.

[2021-06-13 07:44] #183 closed

[2021-06-13 07:48] camerons commented on #94
This template material has been merged, so the issue can be closed.

[2021-06-13 07:48] #94 closed

[2021-06-13 07:55] camerons opened #201 "Create base template"
# Create base template

## Description
### Doc Type Name: base
### Directory: https://github.com/thegooddocsproject/templates/base
### Sub-tasks
1. Create base-template.md
2. Create base-guide.md
3. Create base-theory
4. Crease base-example
5. Create base-checklist

The base template aims to capture the common features that most templates contain.

[2021-06-18 02:43] #199 closed

[2021-06-23 02:42] aidanatwork commented on #201
Cameron I assigned this to you. Only because it seems like you are already working on it! :)

[2021-06-23 02:56] aidanatwork opened #204 "Create Tutorial template"
# Create Tutorial template

## Description
### Doc Type Name: Tutorial
### Directory: https://github.com/thegooddocsproject/templates/tree/dev/tutorial
### Sub-tasks
1. Create tutorial-template.md and write content for it. You may or may not want to re-use content from the files already in the folder
2. Create tutorial-guide.md and write content for it
3. Create tutorial-theory.md and write conten

[2021-06-23 03:03] aidanatwork opened #205 "Create How-to Guide template"
# Create How-to Guide template

## Description
### Doc Type Name: How-to Guide
### Directory: https://github.com/thegooddocsproject/templates/tree/dev/how-to
### Sub-tasks
* Create how-to-template.md and write content for it. You may or may not want to re-use content from the files already in the folder.
* Create how-to-guide.md and write content for it. You may or may not want to re-use content f

[2021-07-04 20:35] camerons opened #206 "Add revision-history and decision-log to base-template"
I've noticed that Alyssa's [style guide](https://github.com/thegooddocsproject/templates/tree/dev/style-guide) includes an optional revision-history and decision-log section.

These sections will likely be common to a few templates, so I believe they should be included in the base template (as an optional section).

[2021-07-09 21:01] #206 closed

[2021-08-25 20:14] aidanatwork opened #209 "Create Glossary template"
# Create Glossary template

## Description
### Doc Type Name: Glossary
### Directory: TBD
### Sub-tasks
* Create glossary-template.md and write content for it.
* Create glossary-guide.md and write content for it.

[2021-08-25 20:16] aidanatwork opened #210 "Create Defining Personas Guide template"
# Create Defining Personas Guide template

## Description
### Doc Type Name: Defining Personas Guide
### Directory: TBD
### Sub-tasks
* Create defining-personas-guide-template.md and write content for it.
* Create defining-personas-guide-guide.md and write content for it.

[2021-08-25 20:20] aidanatwork opened #211 "Create Quickstart template"
# Create Quickstart template

## Description
### Doc Type Name: Quickstart
### Directory: TBD
### Sub-tasks
1. Create quickstart-template.md and write content for it
2. Create quickstart-guide.md and write content for it

[2021-08-25 20:22] aidanatwork opened #212 "Create Business Overview template"
# Create Business Overview template

## Description
### Doc Type Name: Business Overview
### Directory: TBD
### Sub-tasks
1. Create business-overview-template.md and write content for it
2. Create business-overview-guide.md and write content for it

[2021-08-25 20:25] aidanatwork opened #213 "Create API-reference template"
# Create API-reference template

## Description
### Doc Type Name: API-reference
### Directory: https://github.com/thegooddocsproject/templates/tree/dev/api-reference
### Sub-tasks
1. Create api-reference-template.md and write content for it
2. Create  api-reference-guide.md and write content for it

[2021-08-25 20:27] aidanatwork opened #214 "Create Style Guide template"
# Create Style Guide template

## Description
### Doc Type Name: Style Guide
### Directory: https://github.com/thegooddocsproject/templates/tree/dev/style-guide
### Sub-tasks
1. Create style-guide-template.md and write content for it
2. Create style-guide-guide.md and write content for it

[2021-08-25 20:30] aidanatwork opened #215 "Create Onboarding Guide template"
# Create Onboarding Guide template

## Description
### Doc Type Name: Onboarding Guide
### Directory: TBD
### Sub-tasks
1. Create onboarding-guide-template.md and write content for it
2. Create onboarding-guide-guide.md and write content for it

[2021-08-25 20:32] aidanatwork opened #216 "Create Bug Reporting template"
# Create Bug Reporting template

## Description
### Doc Type Name: Bug Reporting
### Directory: TBD
### Sub-tasks
1. Create bug-reporting-template.md and write content for it
2. Create bug-reporting-guide.md and write content for it

[2021-08-25 20:34] aidanatwork opened #217 "Create Documentation Metrics Plan template"
# Create Documentation Metrics Plan template

## Description
### Doc Type Name: Documentation Metrics Plan
### Directory: TBD
### Sub-tasks
1. Create documentation-metrics-plan-template.md and write content for it
2. Create documentation-metrics-plan-guide.md and write content for it

[2021-08-28 22:43] camerons commented on #209
I've started [sketching out glossary documentation](https://docs.google.com/document/d/1ztDWlinO9vxOLoytnD2KW5IwvHVhazYdwUCxjthQYuw/edit) deliverables, which is likely to go beyond a template and guide.

@techtrailhead @viraji will likely be helping build these docs.

[2021-08-31 06:59] nelsonkimani63 commented on #211
Hi Aidan. Thanks for assigning this to me! We have a meeting today at 1100hr UTC+3 (AIPAC/EMEA) led by Cameron. I'll let you know our discussions around this!

[2021-09-01 21:00] aidanatwork opened #218 "Create Issue template"
# Create Bug template

## Description
### Doc Type Name: Issue
### Directory: TBD
### Sub-tasks
1. Create issue-template.md and write content for it
2. Create issue-guide.md and write content for it

[2021-09-01 21:01] aidanatwork opened #219 "Create Merge Request template"
# Create Merge Request template

## Description
### Doc Type Name: Merge Request
### Directory: TBD
### Sub-tasks
1. Create merge-request-template.md and write content for it
2. Create merge-request-guide.md and write content for it

[2021-09-23 23:03] meggpie opened #222 "Create Release Notes template"
# Create Changelog and release notes template

## Description
### Doc Type Name: Release Notes
### Directory: https://github.com/thegooddocsproject/templates/{directory_name}
### Sub-tasks
1. Create release-notes-template.md and write content for it
2. Create release-notes-guide.md and write content for it

[2021-10-09 01:09] itsdeannat opened #223 "Create a friction log template"
# Create a friction log template

## Description
### Doc Type Name: Friction log
### Directory: https://github.com/thegooddocsproject/templates/{friction_log} (to be created)
### Sub-tasks
1. Create friction-log-template.md and write content for it
2. Create friction-log-guide.md and write content for it

{Optional: add any further explanation if the issue is not self-explanatory}

## Helpful Reso

[2021-10-18 18:35] appledora commented on #178
@aidanatwork I can give this a try. Can you assign me?

[2021-10-18 19:46] aidanatwork commented on #178
Done!

[2021-10-19 07:15] appledora commented on #178
I will update you in a couple of days!

[2021-11-02 16:27] barbaricyawps opened #231 "Create FAQ template or guide"
I hope this isn't a duplicate ticket, but there was an interesting discussion about FAQ writing on the Write the Docs channel that I wanted to capture and evaluate whether it would make a good template or guide.

Q: What is the best use of FAQs you’ve seen? Looking for examples for low-tech people using consumer tech. Any advice on structuring useful questions?

One answer: I've generally only see

[2021-12-07 04:13] camerons opened #233 "Update an Overview template with new template format"
# Update an Overview template with new template format

## Description
### Doc Type Name: overview
### Directory: https://github.com/thegooddocsproject/templates/overview
### Sub-tasks
1. Move the current https://github.com/thegooddocsproject/templates/tree/main/api-overview to an /overview/ directory.
2. Update the format to include a template and a guide, as per https://github.com/thegooddocspro

[2021-12-07 04:23] camerons opened #234 "Rationalize quickstart and api-quickstarts"
## Description
We currently have the old https://github.com/thegooddocsproject/templates/tree/dev/api-quickstart and new [quickstart](https://github.com/thegooddocsproject/templates/pull/232) pull request.

We should decide whether the old API quickstart is still required. I suggest that it is basically covering the same material, so the the old api-quickstart should be removed.

If we do keep the

[2021-12-07 05:54] camerons commented on #213
We currently have both an reference/ template and an api-reference template.

For a March 2022 release, we should either bring the api-reference template to align with https://github.com/thegooddocsproject/templates/blob/dev/CONTRIBUTING.md, or move it outside of the deliverabe.

This might involve moving onto a separate branch, and deprecating on the main branch.

[2021-12-07 05:58] camerons opened #235 "Align explanation template with the new CONTRIBUTING guidelines"
## Description
For the explanation template, we should update the format and content to align with guidelines in https://github.com/thegooddocsproject/templates/blob/dev/CONTRIBUTING.md

[2021-12-07 06:05] camerons opened #236 "Align logging template with CONTRIBUTING guide"
## Description
This involves updating the previous release's [logging](https://github.com/thegooddocsproject/templates/tree/dev/logging) template to align with the [CONTRIBUTING](https://github.com/thegooddocsproject/templates/blob/dev/CONTRIBUTING.md) guide.

[2021-12-16 23:44] barbaricyawps opened #237 "Create installation guide template"
# Create installation guide template

## Description
### Doc Type Name: {doc_type}
### Directory: https://github.com/thegooddocsproject/templates/{directory_name}
### Sub-tasks
1. Create installation-template.md and write content for it
2. Create installation-guide.md and write content for it

[2022-01-21 04:30] #59 closed

[2022-03-02 21:52] netsaml opened #238 "Formatting error in "Overview of the template writing phases""
formatting error in row 4 of the [Overview of the template writing phases ](https://github.com/thegooddocsproject/templates/blob/dev/CONTRIBUTING.md#overview-of-the-template-writing-phases)table

[2022-03-14 00:58] barbaricyawps commented on #95
I'm closing this issue because it was resolved when we passed RFC-005, the template contributing process.

[2022-03-14 00:58] #95 closed

[2022-03-14 01:00] barbaricyawps commented on #178
@appledora , we're reassigning this ticket to another community member who is actively attending our template writing working groups.

[2022-03-14 01:34] #238 closed, assigned to nobody

[2022-03-25 22:42] barbaricyawps opened #244 "Create Our Team template for OSS projects"
The `Our Team` template is for open source software projects, The template helps to clearly communicate who belongs to your open source project or organization. The template:

- Lists the teams or roles for your organization or project.
- Explains the purpose of each team or role.
- Provides the names of team members in these roles and, optionally, the contact information for each person.

I'm tak

[2022-04-20 13:53] BolajiAyodeji commented on #237
Hi @barbaricyawps, can I get assigned to this task, please? I'd like to work on it.

Also, is there anything I should look at as a guideline for the end result?

[2022-04-20 14:46] barbaricyawps commented on #237
Hi, @BolajiAyodeji . I can assign this task to you, sure. Welcome to our community! I'm excited to see your contributions!

A few guidelines:
- Please read our [Template Contributing Guide](https://github.com/thegooddocsproject/templates/blob/dev/CONTRIBUTING.md) and let me know if you have any questions.
- For formatting guidance, please read our [Template Deliverables](https://github.com/thegood

[2022-04-22 06:40] BolajiAyodeji commented on #237
Hi @barbaricyawps, thanks for sharing all the resources. I'll take a look at them shortly, start drafting something, and reach out if I need any help. I'm already a member of the Slack workspace and would definitely find you :).

I'll love to join the Community Docs working group but I'm in West Africa with timezone GMT+1. Would this work?

[2022-04-25 11:22] camerons commented on #106
Our thinking around templates have moved beyond aligning directly with schema.org, so I'll close this bug as no longer worth tracking.

[2022-04-25 11:22] #106 closed

[2022-05-02 18:13] barbaricyawps commented on #204
Marking this issue complete. Great work, @deanna-cs !

[2022-05-02 18:13] #204 closed

[2022-05-07 14:50] barbaricyawps commented on #158
Resolved. Closing!

[2022-05-07 14:50] #158 closed

[2022-05-16 19:07] barbaricyawps commented on #180
I've got a draft PR in that is open for community review: https://github.com/thegooddocsproject/templates/pull/246

A few things I could still do:

- Create Code of Conduct training (deep dive)
- Tech debt for our actual CoC: I added a paragraph to the opening statement and some additional items to the unacceptable behavior. I'll need to change that in our real CoC too.
- Tech debt: Also need to c

[2022-05-25 06:23] dufcrule opened #247 "README: broken links"
I noticed a couple of broken links in the [templates section of the README](https://github.com/thegooddocsproject/templates#the-templates):

<img width="875" alt="Screenshot 2022-05-25 at 08 08 59" src="https://user-images.githubusercontent.com/51410533/170192174-7f67b95b-013b-4c31-9ebf-b7b598ba9a7f.png">

Both the **API Project overview** (https://github.com/thegooddocsproject/templates/blob/dev/

[2022-06-04 13:25] itsdeannat opened #250 "Create release notes template"
# Create release notes template

## Before you begin

1. Join The Good Docs Project [slack workspace](https://thegooddocs.slack.com/).
2. Read the [template contributing process](https://github.com/thegooddocsproject/templates/blob/dev/CONTRIBUTING.md#overview-of-the-template-writing-phases).
3. You are strongly encouraged to join one of the [working groups](https://thegooddocsproject.dev/working-

[2022-06-07 21:29] barbaricyawps commented on #214
Marking this issue as complete.

[2022-06-07 21:29] #214 closed

[2022-06-08 15:46] gayathri-krishnaswamy commented on #205
@OphyBoamah and I are working on this template.

[2022-06-08 17:30] barbaricyawps opened #251 "Create Docs landing page template or article"
Documentation owners might need to think through is how to create a docs landing page for their site. We should create either a template for this or an article with best practices (or both).

## Before you begin

1. Join The Good Docs Project [slack workspace](https://thegooddocs.slack.com/).
2. Read the [template contributing process](https://github.com/thegooddocsproject/templates/blob/dev/CONTR

[2022-06-21 23:52] Anita-ihuman commented on #247
Can I take up this issue?

[2022-06-22 17:58] Anita-ihuman commented on #251
Hello @barbaricyawps, I would love to work on this task.

[2022-06-23 21:30] barbaricyawps commented on #247
@Anita-ihuman , I think there's currently a PR in the repo that fixes it. I just haven't merged it in yet and the person who took the issue forgot to link it and follow our processes for opening PRs.

[2022-06-23 21:48] Anita-ihuman commented on #247
Alright then

[2022-06-24 20:47] #247 closed, assigned to nobody

[2022-07-03 04:10] camerons commented on #250
I suggest also looking at a great 2018 WriteTheDocs presentation on release notes,  which includes some very practice tips for the writing process, along with template/style rules.

Source: [Learning to love release notes, Anne Edwards](https://www.youtube.com/watch?v=L3yAD319DiU).

[2022-07-04 23:22] tarasweeney commented on #250
Thanks for the suggestion.

[2022-07-05 19:33] rkathrn commented on #250
Thank you!

[2022-07-11 19:31] heykayla opened #253 "Should we include images in our templates? If so, should we also establish a standardized size?"
This question came up in a Community Docs meeting. A templateer wanted to know if they were allowed to integrate images or graphics in their template and asked if there was a standardized size for images they needed to follow.

[2022-07-18 17:41] barbaricyawps opened #254 "Should we standardize the template file names? For example, we do "abc-template.md.md" and sometimes I see "guide-abc.md" to go along with it."

[2022-07-18 17:42] barbaricyawps opened #255 "How should we format writer's notes? I'm seeing a few different standards. Compare the quick start template with the tutorial template. The Quick start uses emoji and the tutorial template doesn't."

[2022-07-18 17:45] barbaricyawps opened #256 "Should we standardize the front matter (introductory text) that goes at the top of each template file? See the PR for the Our Team template for an example."

[2022-07-19 01:30] heykayla opened #258 "Should we define keywords in our templates?"
This came up as a question from Michael V. that Deanna forwarded in the #templates-style-guide channel.

[2022-07-19 01:33] heykayla opened #259 "How should we use italics in our templates?"
This came up as a question from Michael V. that Deanna forwarded in the #templates-style-guide channel.

[2022-07-19 01:36] heykayla opened #260 "Should we provide a list of the template headings in our templates?"

[2022-07-19 01:41] heykayla opened #261 "Should we ban the usage of "etc." and "and so on"?"
Using "etc." and "and so on" in a sentence gives off the assumption that the reader knows the rest.

[2022-07-19 08:01] camerons commented on #253
Good question, with a few interpretations:

Q1: Should documentation include images?
A1: There is some sound advice at: https://developers.google.com/style/images

Q2: Should images be used in the template.md.
A2: I can't think of a reason to use them, unless they are being used as an example of how to use an image.

Q3: Should images e used in the guide.md.
A3: Possibly, if the explanation is bet

[2022-07-19 08:08] camerons commented on #255
I'm in favor of:
* A limited set of known visual cues, such as standard emojis can help orient a reader.
* Emphasis here is on "limited" and widely used emojis that users will quickly recognize and become familiar with.

This will likely require some group to take responsiblity for managing this limited set.

I'm okay with not having these emojis too.

[2022-07-19 08:11] camerons commented on #261
I'm supportive of discouraging "etc.", which also aligns with https://developers.google.com/style/word-list#etc

[2022-07-19 08:30] camerons commented on #254
Yes, I feel that being consistent will with reader orientation.

[2022-07-20 00:41] heykayla commented on #254
**7/19/2022 Update:**
New naming conventions: template-[content-type] and about-[content-type]

**VOTES:**
Gayathri - YES
Alyssa - YES
Deanna - YES
Kayla - YES
Mengmeng - YES

Action Items:
- Need to update CONTRIBUTING.md and template-deliverables.md files
- Need to update all the templates to the follow the new naming convention

[2022-07-20 01:02] heykayla commented on #256
Frontmatter:

- Template: boilerplate text in curly braces
  - Thank you for downloading the [TEMPLATE_NAME] template from The Good Docs Project! We welcome any kind of constructive feedback on our templates.
- About (AKA guide): boilerplate text in curly braces

7/19/2022
- Started the discussion, but still have more to discuss.
- Will table until the next meeting!

[2022-07-25 00:53] camerons commented on #250
Great meetup presentation on release notes:
* By [Sonja McShane](https://www.linkedin.com/in/sonja-mcshane-7b36a03/), PaperCut Software
* [Meetup](https://www.meetup.com/Write-the-Docs-Australia/events/286062922/comments/522859011/?read=1&_xtd=gatlbWFpbF9jbGlja9oAJGUxMzVhNWQ2LThkOTctNDViNy1iNWQxLTEzOTE1YzI0MzNjMA&_af=event&_af_eid=286062922&itemTypeToken=COMMENT)
* [Recording](https://www.youtube.

[2022-07-26 11:41] tang-mm opened #262 "Format for documenting variables and placeholders?"
Suggestions from the [Google style guide](https://developers.google.com/style/placeholders):
- wrapping placeholders in a <var> element and use uppercase characters with underscore delimiters, such as `PROJECT_ID`
- In Markdown, wrap inline placeholders in backticks (`), and use an asterisk (*) before the first backtick and after the second one (*`PLACEHOLDER_NAME`*).
- If the context in which you

[2022-07-26 22:54] flicstar commented on #250
I just found another resource, may or may not be helpful:
[How to Write Great Product Release Notes — The Ultimate Guide](https://www.launchnotes.com/blog/how-to-write-great-product-release-notes-the-ultimate-guide)

[2022-07-26 23:36] #244 closed, assigned to barbaricyawps

[2022-07-27 06:43] camerons opened #263 "Create requirement-writing guide/template"
# Create requirement-writing guide

## Template description
There are a range of best practices for writing a good requirement. One version is:

* After one year of level-2 usage, the battery-life, MUST, last 10 hours, when running level-3 applications.
* {Condition} the {subject} {compliance} {verb} {object} {qualification}

## Tasks
* @camerons has developed a requirement-writing guide within Go

[2022-07-27 06:47] camerons commented on #263
First import of material is in https://github.com/thegooddocsproject/templates/tree/requirements/requirement

[2022-08-16 23:31] heykayla opened #264 "How should we title headings the "about" files (AKA guides) for templates?"

[2022-08-17 00:38] heykayla commented on #256
Votes:
- Everyone voted in favor.
- Will hand off to Content Strategy (Felicity) for wording
- Agreed to

[2022-08-17 00:38] #256 closed, assigned to nobody

[2022-08-17 00:40] camerons commented on #256
Rough consensus from meeting:
* "Should we invite feedback?
* Should it go into a new README doc for each template directory? (Probably not)
* Should it go into template doc? (Probably not, keep it simple)
* Should it go in the guide/about? (Probably yes. It aligns with intent of the guide for other guide content)
* Should it be at top or bottom of the guide? (Probably at the bottom. The other con

[2022-08-17 00:48] heykayla commented on #261
Vote:
- everyone has agreed to ban the usage of etc. and so on, per the Google Developer Style Guide.

[2022-08-17 00:56] heykayla commented on #255
Deanna suggested looping in the people involved in creating the Quick Start Guide for their thoughts/ideas on why they chose the emojis they chose.

[2022-08-30 01:18] flicstar opened #266 "Add a table to the tutorial-template-guide"
The how-to-template-guide has a table comparing how-tos with tutorials.

Let's include this table in the tutorial-template-guide too.

[2022-09-16 05:45] flicstar commented on #260
Yes, I think so. And hopefully this will get flushed out with our audit.

[2022-09-16 05:46] flicstar commented on #264
I think this issue is related to (and hopefully answered by) issue #254

Edited: My mistake. I read "headings" as "file name". Just ignore me 🙈

[2022-09-17 22:00] heykayla opened #267 "Review the Template Deliverables file and look at the Template Guide section"
We have a Template Deliverables file with a section dedicated to outlining the template content and formatting guidelines. We should take a look at this to see what we can transfer to the Style Guide.

https://github.com/thegooddocsproject/templates/blob/dev/template-deliverables.md#template-guide

[2022-09-18 17:36] barbaricyawps commented on #218
@trogera , here's the two Google Docs that @carriecrowe1138  created for the issue template:

- [Bug Template](https://docs.google.com/document/d/1Z7LbywM3A13rpe83fcqeYGztACM_6n8ZOh9t47ArZiI/edit?usp=sharing)
- [Bug Report User Guide](https://docs.google.com/document/d/1n8-4NtyxPHhX0feyvt2DAWaqQUQHVfwUU2XElr0Hr2w/edit?usp=sharing)

Once you access those links, reach out to Carrie to get editor acc

[2022-09-20 01:20] heykayla commented on #255
Something to add to the discussion:
Embedded writer tips/notes are addressed in the [Template Deliverables](https://github.com/thegooddocsproject/templates/blob/dev/template-deliverables.md#template-guide).

Should we continue this practice?

Related to #267

[2022-09-20 01:22] heykayla opened #269 "What title do we use for the about the template document?"

[2022-09-20 01:38] heykayla opened #270 "What standard headings/sections should we have for the guides/about files?"
Should we include standard headings for all of the About files?

For example, we can use the following:
1. Template overview: Explains what users will see in the template.
2. Introduction: Introduces the guide and explains what the template is used for.
3. Template breakdown: Introduces and explains the sections that are in the template.

[2022-09-20 01:44] heykayla commented on #258
Defining keywords may be more appropriate in the About files (AKA guides), such as creating a glossary section.

[2022-09-21 00:32] flicstar commented on #255
Some discussion from the meeting 21 Sept:

- We need to designate writing tips/notes and also placeholder/variables, and should probably use a different symbol for each.
- Square brackets and angle brackets have been considered, but linting tools and the rendering stumbled over these.
- Templates need to be accessible -> need to be mindful of this when using emoji. Also different emoji flavors.
-

[2022-09-21 00:37] heykayla commented on #255
Agreed to not use emojis

[2022-09-21 00:42] heykayla commented on #262
Agreed to continue using curly brackets for both placeholder text and writer's notes.